@charset "UTF-8";

.top_main{
	display: flex;
	height: 958px;
	background: url(../images/img_top.png) no-repeat center/cover;
	align-items: center;
	justify-content: center;
}
.top_main h1{
	position: relative;
	line-height: 94px;
	color: #fff;
	font-size: 80px;
	font-style: italic;
	font-weight: bold;
}
.top_main h1:before{
	content: attr(data-note);
	position: absolute;
	line-height: 42px;
	font-size: 24px;
	bottom: 100%;
	left: 0;
}
.top_main p{
	line-height: 36px;
	color: #fff;
	margin-bottom: 48px;
	font-style: italic;
}
.icon_link{
	display: flex;
	width: 288px;
	justify-content: space-between;
}
.icon_link li{
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
}
.icon_link li:hover{
	opacity: 0.8;
}
.icon_link a{
	display: block;
	height: 100%;
}
.icon_be{
	background-image: url(../images/icon_be.svg);
}
.icon_fb{
	background-image: url(../images/icon_fb.svg);
}
.icon_ig{
	background-image: url(../images/icon_ig.svg);
}
.icon_yt{
	background-image: url(../images/icon_yt.svg);
}
.info_main{
	padding: 64px 0;
}

.info_main h2{
	line-height: 75px;
	font-size: 64px;
	font-style: italic;
	text-align: center;
	margin-bottom: 16px;
}
.info_main h3{
	line-height: 42px;
	font-style: italic;
	text-align: center;
	margin-bottom: 32px;
}
.info_main p{
	line-height: 30px;
	font-size: 20px;
	font-style: italic;
	text-align: center;
	margin-bottom: 68px;
}
.info_main img{
	width: 100%;
	vertical-align: middle;
}
.about_img{
	width: 384px;
	padding: 24px 0;
	margin: auto;
}
.about_profile{
	margin-bottom: 24px;
	font-weight: bold;
	text-align: center;
}
.about_profile li{
	line-height: 42px;
	font-style: italic;
}
.about_list{
	position: relative;
	text-align: center;
	padding:32px 0 56px;
}
.about_list:before{
	content: '';
	position: absolute;
	width: 384px;
	height: 1px;
	background-color: #000;
	left: 0;
	right: 0;
	bottom: 100%;
	margin: auto;
}
.about_list li{
	display: flex;
	line-height: 42px;
	font-style: italic;
    align-items: center;
    justify-content: center;
}
.about_list li:before{
	content: '';
	width: 22px;
	height: 22px;
	background-color: #891818;
	border-radius: 50%;
	margin-right: 16px;
}
.brand_img,
.work_img{
	display: flex;
	padding-bottom: 120px;
	justify-content: center;
	flex-wrap: wrap;
}
.brand_img .img_item{
	max-width: 792px;
	margin:0 12px 40px;
}
.work_img .img_item{
	max-width: 384px;
	margin:0 12px 56px;
}
.work_img .img_item:nth-child(5n + 4),
.work_img .img_item:nth-child(5n){
	max-width: 588px;
}
.work_img tt{
	display: block;
	line-height: 42px;
	font-style: italic;
	text-align: center;
}
.contact_list li{
	line-height: 36px;
	text-align: center;
	font-style: italic;
	margin-bottom: 16px;
}

/*share*/
._black_bg{
	background-color: #000;
	color: #fff;
}
._w500{
	max-width: 500px;
	margin: auto;
}
._w1200{
	max-width: 1224px;
	margin: auto;
}
._mb24{
	margin-bottom: 24px;
}

/*RWD*/
@media only screen and (max-width:1023px){
	
}

@media only screen and (max-width: 767px){
	
}

@media only screen and (max-width: 599px){
	

}


