@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Raleway:wght@400;700;800&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
tt,
b,
i,
ol,
ul,
li,
form,
label,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

html,
body {
  width: 100%;
  height: 100%;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

*:hover,
*:focus,
*:active {
  outline: none !important;
  -moz-outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="password"]::-webkit-textfield-decoration-container {
  visibility: hidden;
}

input,
button,
select,
textarea {
  padding: 0;
  border: 0;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  resize: none;
}

input::-ms-clear,
input::-ms-reveal,
select::-ms-expand {
  display: none;
}

.nofloat:after {
  content: '';
  display: table;
  clear: both;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media only screen and (min-device-width: 1025px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #6C51E2;
    border: 1px transparent solid;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background .5s linear;
    transition: background .5s linear;
  }
  *:hover::-webkit-scrollbar-thumb {
    background-color: #937ef5;
  }
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.search_location_list, .search_guest_list, .slider_box_item, .scrollshow_box_menu > li:before {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

[class*="_btn"]:not(disable),
.hab_btn,
.main_logo,
.select_box > select,
.select_box._member > span,
.txt_btn,
.search_location_list > li,
.copyright_box > ul > li,
.scrollshow_box_menu > li,
.scrollshow_box_item > li,
.place_box_item > li,
.detail_box_item > li,
.booking_box_menu li,
.proflie_card > li > .add_btn {
  cursor: pointer;
  -webkit-transition: color .3s linear, background-color .3s linear, opacity .3s linear, border-color .3s linear, -webkit-box-shadow .3s linear;
  transition: color .3s linear, background-color .3s linear, opacity .3s linear, border-color .3s linear, -webkit-box-shadow .3s linear;
  transition: color .3s linear, background-color .3s linear, opacity .3s linear, box-shadow .3s linear, border-color .3s linear;
  transition: color .3s linear, background-color .3s linear, opacity .3s linear, box-shadow .3s linear, border-color .3s linear, -webkit-box-shadow .3s linear;
}

.search_location_list, .search_guest_list {
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.active_item {
  opacity: 0;
  visibility: collapse;
}

.active > .active_item,
.active ~ .active_item {
  visibility: visible;
  opacity: 1;
}

html,
body,
input,
button,
select,
textarea,
tt {
  font-family: 'Open sans', sans-serif;
  color: #121212;
  font-size: 16px;
}

.outside {
  width: 100%;
  height: 100%;
}

.main_width {
  max-width: 1110px;
  margin: auto;
}

.scroll_box {
  height: calc(100% - 72px);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.hab_btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: auto;
  left: 15px;
  display: none;
  height: 24px;
  margin: auto;
}

@media (pointer: fine), (-moz-touch-enabled: 0), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .hab_btn:hover {
    opacity: 1;
    background-color: #F1F0F8;
    color: #6C51E2;
  }
}

.hab_btn:active {
  opacity: 1;
  background-color: #F1F0F8;
  color: #6C51E2;
}

@media screen and (max-width: 575px) {
  .hab_btn {
    display: block;
  }
}

.main_logo {
  width: 96px;
  height: 24px;
  background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/13f2e6e6b718b6abafb62ce7a672d42fc39eaeae/week8/logo-aloha.svg) no-repeat center;
  color: transparent;
}

@media (pointer: fine), (-moz-touch-enabled: 0), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main_logo:hover {
    opacity: 0.7;
    background-color: unset;
    color: transparent;
  }
}

.main_logo:active {
  opacity: 0.7;
  background-color: unset;
  color: transparent;
}

@media screen and (max-width: 575px) {
  .main_logo {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
}

.material-icons > * {
  font-family: 'Open sans';
}

.material-icons:before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: auto;
  left: 16px;
  content: attr(data-icon);
  height: 24px;
  margin: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 991px) {
  header {
    padding: 24px 39px;
  }
}

@media screen and (max-width: 575px) {
  header {
    position: relative;
    padding: 16px 15px;
  }
}

@media screen and (max-width: 575px) {
  header > .select_box:not(._member) {
    display: none;
  }
}

.select_box {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 24px;
  font-size: 14px;
  margin-left: auto;
}

.select_box + .select_box {
  margin-left: 24px;
}

.select_box > i {
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.select_box > .function {
  position: absolute;
  top: 0;
  bottom: 0;
  right: auto;
  left: 0;
}

.select_box > .arr {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: auto;
}

.select_box > select,
.select_box._member > span {
  width: 100%;
  height: 100%;
  line-height: 24px;
  padding: 0 24px 0 34px;
  color: #00000099;
  font-size: 14px;
}

@media screen and (max-width: 575px) {
  .select_box._member {
    margin: 0 24px 0 auto;
  }
}

.select_box._member > span {
  color: #121212;
}

@media screen and (max-width: 575px) {
  .select_box._member > span {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .select_box._member > i {
    display: none;
  }
}

.select_member_img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: auto;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #6C51E2;
  overflow: hidden;
}

.txt_btn {
  margin-left: 48px;
}

@media (pointer: fine), (-moz-touch-enabled: 0), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .txt_btn:hover {
    opacity: 0.7;
    background-color: unset;
    color: unset;
  }
}

.txt_btn:active {
  opacity: 0.7;
  background-color: unset;
  color: unset;
}

@media screen and (max-width: 575px) {
  .txt_btn {
    margin-left: auto;
  }
  .txt_btn:nth-last-child(2) {
    display: none;
  }
}

.search_box {
  position: absolute;
  top: calc(100% - 72px);
  bottom: auto;
  right: 0;
  left: 0;
  max-width: 1110px;
  padding: 24px;
  background-color: #F1F0F8;
  border-radius: 8px;
  margin: auto;
}

@media screen and (max-width: 991px) {
  .search_box {
    width: 576px;
    height: auto;
  }
}

@media screen and (max-width: 575px) {
  .search_box {
    width: calc(100% - 30px);
  }
}

.search_box_width {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

@media screen and (max-width: 991px) {
  .search_box_width {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    height: auto;
  }
}

.search_box_item {
  position: relative;
  width: calc((100% - 158px) / 3);
  height: 56px;
  background-color: #fff;
  border-radius: 4px;
}

@media screen and (max-width: 991px) {
  .search_box_item {
    width: 100%;
    margin-bottom: 16px;
  }
}

.search_box_item > .import_box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: unset;
      flex-wrap: unset;
  height: 100%;
  padding: 0 16px 0 56px;
}

.search_box_item > .import_box > i {
  line-height: 56px;
  margin-right: 16px;
}

.search_box_item > .import_box > input {
  width: 100%;
}

.search_box_item > .import_box > span {
  color: #00000099;
  font-size: 16px;
}

.search_box_item > .import_box .more_title,
.search_box_item > .import_box > tt {
  display: none;
}

.search_box._orther_state {
  width: 100%;
  max-width: none;
  padding: 16px 0;
  border-radius: 0;
}

.search_box._orther_state > .search_box_width {
  max-width: 1110px;
}

@media screen and (max-width: 991px) {
  .search_box._orther_state > .search_box_width {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    padding: 0 39px;
  }
}

@media screen and (max-width: 575px) {
  .search_box._orther_state > .search_box_width {
    padding: 0;
  }
}

@media screen and (max-width: 991px) {
  .search_box._orther_state > .search_box_width > .search_box_item {
    width: calc((100% - 150px) / 3);
    margin-bottom: 0;
  }
}

@media screen and (max-width: 575px) {
  .search_box._orther_state > .search_box_width > .search_box_item {
    position: relative;
    width: calc(100% / 3);
    height: auto;
    background-color: transparent;
  }
}

.search_box._orther_state > .search_box_width > .search_box_item:not(:last-child):after {
  content: '';
  position: absolute;
  width: 1px;
  height: 33px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 100%;
  margin: auto;
}

.search_box._orther_state > .search_box_width > .saerch_btn {
  width: 126px;
}

@media screen and (max-width: 575px) {
  .search_box._orther_state > .search_box_width > .saerch_btn {
    display: none;
  }
}

.search_box._orther_state .import_box {
  padding: 0 8px 0 40px;
}

@media screen and (max-width: 575px) {
  .search_box._orther_state .import_box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
}

.search_box._orther_state .import_box.material-icons:before {
  left: 8px;
}

@media screen and (max-width: 575px) {
  .search_box._orther_state .import_box.material-icons:before {
    content: none;
  }
}

.search_box._orther_state .import_box > input {
  display: none;
}

.search_box._orther_state .import_box > .more_title {
  display: block;
}

.search_box._orther_state .import_box > .more_title,
.search_box._orther_state .import_box > span {
  color: #000;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

@media screen and (max-width: 575px) {
  .search_box._orther_state .import_box > .more_title,
  .search_box._orther_state .import_box > span {
    display: none;
  }
}

.search_box._orther_state .import_box > tt {
  display: block;
  line-height: 20px;
  color: #00000099;
  font-size: 14px;
}

.search_location_list {
  position: absolute;
  top: calc(100% + 8px);
  bottom: auto;
  right: 0;
  left: 0;
  background-color: #fff;
  border-radius: 4px;
  z-index: 2;
}

.search_location_list > li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding: 8px 16px 8px 48px;
  background-color: transparent;
}

@media (pointer: fine), (-moz-touch-enabled: 0), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .search_location_list > li:hover {
    opacity: 1;
    background-color: #F1F0F8;
    color: unset;
  }
}

.search_location_list > li:active {
  opacity: 1;
  background-color: #F1F0F8;
  color: unset;
}

.search_location_list > li.on {
  background-color: #F1F0F8;
}

.search_location_list > li > span,
.search_location_list > li > tt {
  font-size: 16px;
}

.search_location_list > li > tt {
  color: #00000099;
  font-size: 12px;
}

.search_guest_list {
  position: absolute;
  top: calc(100% + 8px);
  bottom: auto;
  right: 0;
  left: 0;
  padding: 6px 0;
  background-color: #fff;
  border-radius: 4px;
  z-index: 2;
}

.search_guest_list > li {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 16px;
}

.search_guest_list input {
  width: 48px;
  height: 100%;
  text-align: center;
}

.search_guest_list .qu_btn {
  display: block;
  width: 24px;
}

@media (pointer: fine), (-moz-touch-enabled: 0), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .search_guest_list .qu_btn:hover {
    opacity: 0.7;
    background-color: unset;
    color: unset;
  }
}

.search_guest_list .qu_btn:active {
  opacity: 0.7;
  background-color: unset;
  color: unset;
}

.search_guest_list .qu_btn:first-of-type {
  margin-left: auto;
}

.saerch_btn {
  color: #fff;
  border-radius: 3px;
  border: 1px solid #6C51E2;
  background: #6C51E2;
  text-transform: uppercase;
  width: 126px;
  height: 56px;
}

@media (pointer: fine), (-moz-touch-enabled: 0), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .saerch_btn:hover {
    opacity: 1;
    background-color: #fff;
    color: #6C51E2;
  }
}

.saerch_btn:active {
  opacity: 1;
  background-color: #fff;
  color: #6C51E2;
}

@media screen and (max-width: 991px) {
  .saerch_btn {
    width: 100%;
  }
}

.score_box > li {
  color: #000;
}

.subscripte_box {
  padding: 92px 0;
  background-color: #F1F0F8;
}

.subscripte_box > div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: unset;
      flex-wrap: unset;
}

.subscripte_box h2 {
  font-family: "Raleway";
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 24px;
}

@media screen and (max-width: 575px) {
  .subscripte_box h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.subscripte_box_item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 540px;
  height: 56px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

@media screen and (max-width: 575px) {
  .subscripte_box_item {
    width: calc(100% - 30px);
  }
}

.subscripte_box_item > input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 0 20px;
}

.subscripte_box_item > .subscripte_btn {
  color: #fff;
  border-radius: 3px;
  border: 1px solid #6C51E2;
  background: #6C51E2;
  text-transform: uppercase;
  width: 150px;
  height: 100%;
  border-radius: 0 4px 4px 0;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media (pointer: fine), (-moz-touch-enabled: 0), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .subscripte_box_item > .subscripte_btn:hover {
    opacity: 1;
    background-color: #fff;
    color: #6C51E2;
  }
}

.subscripte_box_item > .subscripte_btn:active {
  opacity: 1;
  background-color: #fff;
  color: #6C51E2;
}

footer {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 26px 0;
  border-top: 1px solid #F1F0F8;
}

@media screen and (max-width: 991px) {
  footer {
    padding: 26px 39px;
  }
}

footer > .select_box {
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  footer > .select_box {
    display: none;
  }
}

.copyright_box {
  color: #00000099;
  font-size: 14px;
}

@media screen and (max-width: 991px) {
  .copyright_box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .copyright_box {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    width: 100%;
  }
}

.copyright_box > ul {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 64px;
}

@media screen and (max-width: 575px) {
  .copyright_box > ul {
    margin-left: 0;
    margin-bottom: 16px;
  }
}

@media (pointer: fine), (-moz-touch-enabled: 0), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .copyright_box > ul > li:hover {
    opacity: 0.7;
    background-color: unset;
    color: unset;
  }
}

.copyright_box > ul > li:active {
  opacity: 0.7;
  background-color: unset;
  color: unset;
}

.copyright_box > ul > li + li {
  margin-left: 24px;
}

.slider_box {
  position: relative;
  height: 320px;
  margin-bottom: 120px;
}

@media screen and (max-width: 991px) {
  .slider_box {
    margin-bottom: 312px;
  }
}

.slider_funtion {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 920px;
  height: 48px;
  margin: auto;
}

@media screen and (max-width: 991px) {
  .slider_funtion {
    width: 100%;
    padding: 0 39px;
  }
}

@media screen and (max-width: 575px) {
  .slider_funtion {
    padding: 0 15px;
  }
}

.slider_btn {
  color: #fff;
  font-size: 48px;
}

.slider_btn:hover {
  opacity: 0.7;
}

.slider_box_item {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  color: #fff;
}

.slider_box_item > li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.slider_box_item > li > h2 {
  line-height: 64px;
  font-family: "Raleway";
  font-size: 48px;
  font-weight: 800;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .slider_box_item > li > h2 {
    width: 50%;
  }
}

@media screen and (max-width: 575px) {
  .slider_box_item > li > h2 {
    width: 60%;
    line-height: 48px;
    font-size: 32px;
  }
}

.main_title {
  line-height: 37px;
  font-family: "Raleway";
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 24px;
}

@media screen and (max-width: 991px) {
  .main_title {
    line-height: 29px;
    font-size: 24px;
  }
}

.scrollshow_box {
  position: relative;
  margin-bottom: 72px;
}

@media screen and (max-width: 991px) {
  .scrollshow_box {
    padding: 0 0 0 39px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 575px) {
  .scrollshow_box {
    padding: 0 0 0 15px;
  }
}

.scrollshow_box_menu {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 36px;
  border-bottom: 2px solid #F1F0F8;
  margin-bottom: 24px;
}

.scrollshow_box_menu > li {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0 24px;
  color: #00000099;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 24px;
}

@media screen and (max-width: 575px) {
  .scrollshow_box_menu > li {
    padding: 0 16px;
    font-size: 20px;
  }
}

.scrollshow_box_menu > li:before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #6C51E2;
  left: 0;
  top: 100%;
}

.scrollshow_box_menu > li:after {
  content: attr(data-num);
  line-height: 14px;
  font-size: 14px;
}

.scrollshow_box_menu > li.on {
  color: #6C51E2;
}

.scrollshow_box_menu > li.on:before {
  width: 100%;
}

@media (pointer: fine), (-moz-touch-enabled: 0), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .scrollshow_box_menu > li:hover {
    opacity: 1;
    background-color: unset;
    color: #6C51E2;
  }
  .scrollshow_box_menu > li:hover:before {
    width: 100%;
  }
}

.scrollshow_box_menu > li:active {
  opacity: 1;
  background-color: unset;
  color: #6C51E2;
}

.scrollshow_box_menu > li:active:before {
  width: 100%;
}

.scrollshow_box_item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.scrollshow_box_item > li {
  width: calc((100% - 90px) / 4);
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media screen and (max-width: 991px) {
  .scrollshow_box_item > li {
    min-width: 270px;
  }
}

@media screen and (max-width: 575px) {
  .scrollshow_box_item > li {
    min-width: 240px;
  }
}

.scrollshow_box_item > li > .title {
  line-height: 24px;
  font-weight: bold;
}

@media (pointer: fine), (-moz-touch-enabled: 0), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .scrollshow_box_item > li:hover {
    opacity: 0.7;
    background-color: unset;
    color: unset;
  }
}

.scrollshow_box_item > li:active {
  opacity: 0.7;
  background-color: unset;
  color: unset;
}

.scrollshow_box_item > li > .money {
  color: #00000099;
  font-size: 14px;
}

.scrollshow_box_item > li + li {
  margin-left: 30px;
}

.scrollshow_box_btn {
  position: absolute;
  top: auto;
  bottom: 141px;
  right: 16px;
  left: auto;
  width: 40px;
  height: 40px;
  background-color: #F1F0F8;
  border-radius: 50%;
}

@media (pointer: fine), (-moz-touch-enabled: 0), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .scrollshow_box_btn:hover {
    opacity: 1;
    background-color: #6C51E2;
    color: #fff;
  }
}

.scrollshow_box_btn:active {
  opacity: 1;
  background-color: #6C51E2;
  color: #fff;
}

.scrollshow_box_img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 175px;
  border-radius: 8px;
  margin-bottom: 8px;
  overflow: hidden;
}

.scrollshow_box_detail {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #00000061;
  font-size: 12px;
}

.scrollshow_box_detail .review:before {
  content: '・';
}

.scrollshow_box_detail .review:after {
  content: " " attr(data-review);
}

.place_box {
  margin-bottom: 72px;
}

@media screen and (max-width: 991px) {
  .place_box {
    padding: 0 39px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 575px) {
  .place_box {
    padding: 0 15px;
  }
}

.place_box_item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
}

.place_box_item > li {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: calc((100% - 60px) / 3);
  padding: 16px 24px;
  border-radius: 8px;
  font-weight: bold;
  overflow: hidden;
}

@media (pointer: fine), (-moz-touch-enabled: 0), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .place_box_item > li:hover {
    opacity: 0.7;
    background-color: unset;
    color: unset;
  }
}

.place_box_item > li:active {
  opacity: 0.7;
  background-color: unset;
  color: unset;
}

.place_box_item > li:not(:nth-child(4)):not(:nth-child(5)):not(:nth-child(6)) {
  margin-bottom: 24px;
}

@media screen and (max-width: 991px) {
  .place_box_item > li {
    width: calc((100% - 30px) / 2);
  }
  .place_box_item > li:not(:nth-child(5)):not(:nth-child(6)) {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 575px) {
  .place_box_item > li {
    width: 100%;
  }
  .place_box_item > li:not(:last-child) {
    margin-bottom: 8px !important;
  }
}

.place_box_item > li > tt {
  display: block;
  color: #FFFFFF98;
  font-size: 12px;
}

.place_box_item > li > span {
  font-size: 24px;
  font-family: "Raleway";
}

.place_box_item > li > i {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 16px;
  left: auto;
  height: 24px;
  margin: auto;
}

.detail_box {
  position: relative;
  margin-bottom: 72px;
}

@media screen and (max-width: 991px) {
  .detail_box {
    padding: 0 39px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 575px) {
  .detail_box {
    padding: 0 0 0 15px;
  }
}

.detail_box > .main_title {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

@media screen and (max-width: 575px) {
  .detail_box > .main_title {
    padding-right: 15px;
  }
}

.detail_box > .main_title .more_btn {
  color: #6C51E2;
  border-radius: 3px;
  border: 1px solid #6C51E2;
  background: transparent;
  text-transform: uppercase;
  padding: 8px 16px;
  font-size: #00000099;
}

@media (pointer: fine), (-moz-touch-enabled: 0), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .detail_box > .main_title .more_btn:hover {
    opacity: 1;
    background-color: #6C51E2;
    color: #6C51E2;
  }
}

.detail_box > .main_title .more_btn:active {
  opacity: 1;
  background-color: #6C51E2;
  color: #6C51E2;
}

@media (pointer: fine), (-moz-touch-enabled: 0), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .detail_box > .main_title .more_btn:hover {
    opacity: 1;
    background-color: #6C51E2;
    color: #fff;
  }
}

.detail_box > .main_title .more_btn:active {
  opacity: 1;
  background-color: #6C51E2;
  color: #fff;
}

.detail_box_item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  -ms-flex-wrap: unset;
      flex-wrap: unset;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.detail_box_item > li {
  width: calc((100% - 60px) / 3);
}

@media (pointer: fine), (-moz-touch-enabled: 0), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .detail_box_item > li:hover {
    opacity: 0.7;
    background-color: unset;
    color: unset;
  }
}

.detail_box_item > li:active {
  opacity: 0.7;
  background-color: unset;
  color: unset;
}

@media screen and (max-width: 575px) {
  .detail_box_item > li {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    min-width: 240px;
  }
}

.detail_box_item > li > .detail_box_img {
  border-radius: 8px;
  margin-bottom: 24px;
  overflow: hidden;
}

.detail_box_item > li > .title {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.detail_box_item > li > p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-height: 48px;
  line-height: 24px;
  color: #00000099;
  font-size: 16px;
}

@media screen and (max-width: 575px) {
  .detail_box_item > li + li {
    margin-left: 30px;
  }
}

.member_box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 0;
}

@media screen and (max-width: 991px) {
  .member_box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    padding: 24px 39px;
  }
}

@media screen and (max-width: 575px) {
  .member_box {
    padding: 24px 15px;
  }
}

.booking_box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin-right: 30px;
}

@media screen and (max-width: 575px) {
  .booking_box {
    margin-right: 0;
  }
}

.booking_box_menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 24px;
}

.booking_box_menu li {
  font-weight: bold;
}

@media (pointer: fine), (-moz-touch-enabled: 0), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .booking_box_menu li:hover {
    opacity: 1;
    background-color: unset;
    color: #6C51E2;
  }
}

.booking_box_menu li:active {
  opacity: 1;
  background-color: unset;
  color: #6C51E2;
}

.booking_box_menu li.on {
  color: #6C51E2;
}

.booking_box_menu > li + li {
  margin-left: 24px;
}

.booking_detail_item {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-bottom: 24px;
  overflow: hidden;
}

@media screen and (max-width: 575px) {
  .booking_detail_item {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    background-color: #F1F0F8;
  }
}

.booking_detail_item + .booking_detail_item {
  padding-top: 24px;
  border-top: 1px solid #F1F0F8;
}

@media screen and (max-width: 575px) {
  .booking_detail_item + .booking_detail_item {
    padding-top: 0;
    margin-top: 24px;
  }
}

.booking_detail_item > .view_btn {
  position: absolute;
  top: 16px;
  bottom: auto;
  right: 16px;
  left: auto;
  color: #6C51E2;
  background: transparent;
  text-transform: uppercase;
  font-weight: bold;
}

@media (pointer: fine), (-moz-touch-enabled: 0), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .booking_detail_item > .view_btn:hover {
    opacity: 0.7;
    background-color: unset;
    color: unset;
  }
}

.booking_detail_item > .view_btn:active {
  opacity: 0.7;
  background-color: unset;
  color: unset;
}

@media screen and (max-width: 575px) {
  .booking_detail_item > .view_btn {
    position: static;
    text-align: left;
    margin-left: 24px;
  }
}

.booking_detail_img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 255px;
  height: 175px;
  border-radius: 8px 0 0 8px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media screen and (max-width: 575px) {
  .booking_detail_img {
    width: 100%;
    height: 226px;
    border-radius: 8px 8px 0 0;
  }
}

.mem_title {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 29px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.booking_detail_txt {
  padding: 16px 16px 16px 0;
}

@media screen and (max-width: 575px) {
  .booking_detail_txt {
    padding: 24px 24px 24px 8px;
  }
}

.booking_detail_txt > li {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding-left: 56px;
}

.booking_detail_txt > li:not(:last-child) {
  margin-bottom: 8px;
}

.booking_detail_txt > li > span {
  line-height: 22px;
  font-size: 16px;
  font-weight: bold;
}

.booking_detail_txt > li > tt {
  color: #00000099;
  font-size: 12px;
  white-space: normal;
}

.proflie_box {
  position: relative;
  width: 350px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media screen and (max-width: 991px) {
  .proflie_box {
    width: 100%;
    margin-bottom: 48px;
  }
}

.proflie_box > .edit_btn {
  color: #6C51E2;
  background: transparent;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  bottom: auto;
  right: 0;
  left: auto;
  font-weight: bold;
  font-size: 14px;
}

@media (pointer: fine), (-moz-touch-enabled: 0), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .proflie_box > .edit_btn:hover {
    opacity: 0.7;
    background-color: unset;
    color: unset;
  }
}

.proflie_box > .edit_btn:active {
  opacity: 0.7;
  background-color: unset;
  color: unset;
}

.verified_checkbox {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  height: 100%;
  padding: 0 8px 0 30px;
  border-radius: 37px;
  background-color: #6C51E2;
  margin-left: 8px;
}

.verified_checkbox > span:before {
  content: none;
  display: block;
  position: absolute;
  width: 12px;
  height: 6px;
  left: 12px;
  top: 8px;
  border-width: 0 0 2px 2px;
  border-style: solid;
  border-color: #fff;
  -webkit-transform: rotate(-48deg);
          transform: rotate(-48deg);
  content: '';
}

.verified_checkbox > tt {
  font-size: 12px;
  color: #fff;
}

.proflie_detail {
  position: relative;
  padding: 24px;
  background-color: #F1F0F8;
  border-radius: 8px;
}

@media screen and (max-width: 991px) {
  .proflie_detail {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
}

@media screen and (max-width: 575px) {
  .proflie_detail {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
}

.proflie_detail_box {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.proflie_detail_box > .proflie_detail_img {
  position: absolute;
  top: 24px;
  bottom: auto;
  right: 24px;
  left: auto;
  width: 64px;
  height: 64px;
  border-radius: 8px;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .proflie_detail_box > .proflie_detail_img {
    position: static;
    margin-right: 16px;
  }
}

@media screen and (max-width: 575px) {
  .proflie_detail_box > .proflie_detail_img {
    position: absolute;
    margin-right: 0;
  }
}

.proflie_detail_box > .title {
  width: 100%;
  font-weight: bold;
  margin-bottom: 24px;
}

.proflie_detail_box > .txt {
  color: #00000099;
  margin-bottom: 24px;
}

@media screen and (max-width: 991px) {
  .proflie_detail_box > .txt {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 991px) {
  .proflie_detail_box > .txt {
    margin-bottom: 24px;
  }
}

.proflie_detail_box > .txt > li:not(:last-child) {
  margin-bottom: 16px;
}

.proflie_card {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.proflie_card > li {
  position: relative;
  width: calc((100% - 8px) / 2);
  padding: 16px;
  background-color: #fff;
  border-radius: 4px;
}

.proflie_card > li > .add_btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-color: #6C51E2;
  border-radius: 50%;
  color: #fff;
  margin: auto;
}

@media (pointer: fine), (-moz-touch-enabled: 0), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .proflie_card > li > .add_btn:hover {
    opacity: 1;
    background-color: #fff;
    color: #6C51E2;
  }
}

.proflie_card > li > .add_btn:active {
  opacity: 1;
  background-color: #fff;
  color: #6C51E2;
}

.card_detail._icon_visa:after {
  position: absolute;
  top: auto;
  bottom: 16px;
  right: 16px;
  left: auto;
  content: attr(data-card);
  padding: 1px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.card_detail > li {
  color: #00000099;
  font-size: 12px;
}

.card_detail > li:not(::last-child) {
  margin-bottom: 4px;
}
/*# sourceMappingURL=all.css.map */