@charset "UTF-8";

.ch{
	font-family: 'PingFang TC';
}
.outside{
	width: 100%;
	height: 100%;
}
.main_scroll{
	height: calc(100% - 56px);
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;	
}
header{
	position: relative;
	display: flex;
	padding: 9px 20px;
	justify-content: space-between;
}
.main_logo{
	display: block;
	width: 128px;
	height: 38px;
	background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfume.png?raw=true) no-repeat;
	color: transparent;
}
.main_logo._white{
	position: relative;
	background-image:url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfumewhite.png?raw=true); 
}
.main_logo._white:after{
	content: '© 2020. All Rights Reserved.';
	position: absolute;
	line-height: 38px;
	color: #fff;
	font-size: 14px;
	left: calc(100% + 20px);
	white-space: nowrap;
}
.menu_item{
	display: flex;
	align-items: center;
	color: #8D8D8D;
	font-size: 20px;
}
.menu_item li + li{
	margin-left: 32px;
}
.menu_item li,
.menu_item a{
	position: relative;
	display: flex;
	align-items: center;
}
.ph_menu_item{
	position: absolute;
	width: 100%;
	height: calc(100vh - 56px);
	background-color: transparent;
	top: 100%;
	left: 0;
	z-index: 2;
	display: none;
}

.ph_menu_item.on{
	display: block;
}

.ph_menu_item li{
	height: 56px;
	line-height: 56px;
	background-color: #707070;
	color: #fff;
	font-size: 20px;
	text-align: center;
	margin-bottom: 1px;
}

.ph_menu_item a{
	display: block;
}

.cart_num:after{
	content: '('attr(data-cart)')';
	display: inline-block;
}
.topshow_box{
	display: flex;
	height: 807px;
	background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index1.jpg?raw=true) no-repeat center/cover;
	align-items: center;
}
.topshow_txt{
	line-height: 36px;
	color: #fff;
	font-size: 24px;
}
.topshow_txt>h2{
	line-height: 60px;
	font-size: 40px;
	font-weight: bold;
}
.topshow_txt>p{
	margin-bottom: 16px;
}
.topshow_btn{
	width: 350px;
	height: 60px;
	border-radius: 30px;
	border: 2px solid #fff;
	color: #fff;
	font-size: 28px;
}
.show_box{
	padding-top: 60px;
	padding-bottom: 60px;
}
.show_box_item01,
.show_box_item02,
.show_box_item03{
	height: 555px;
}
.show_box_item01{
	background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index2.jpg?raw=true) no-repeat center 10%/cover;
}
.show_box_item02{
	background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index3.png?raw=true) no-repeat center/cover;
}
.show_box_item03{
	background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index4.jpg?raw=true) no-repeat 20% 0/cover;
}
.show_box_item04{
	height: 1080px;
	background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index5.jpg?raw=true) no-repeat center 0/cover;
}
.show_box_txt{
	display: flex;
	padding: 0 110px;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}
.show_box_txt>h2{
	line-height: 48px;
	font-size: 32px;
	font-weight: bold;
}
.show_box_txt>p{
	line-height: 30px;
	font-size: 20px;
	margin-bottom: 16px;
}
.more_btn{
	line-height: 24px;
	color: #AC8A46;
	
	
}
.show_box_sort{
	counter-reset:number;
	line-height: 36px;
	font-size: 24px;
	margin-bottom: 60px;
}
.show_box_sort li:before{
	counter-increment:number; 
  	content:counter(number)'. ';
  	font-weight: bold;
}
.show_box_sort li + li{
	margin-top: 52px;
}
.show_box_sort h3{
	font-weight: bold;
	margin-bottom: 4px;
}
.show_box_sort p{
	line-height: 24px;
	font-size: 16px;	
}
.train_btn{
	width: 100%;
	height: 60px;
	border: 2px solid #000000;
	border-radius: 30px;
	font-size: 20px;
}
.sell_box{
	padding: 40px 0;
	background-color: #E0E0E0;
}
.sell_box_item{
	display: flex;
	line-height: 24px;
}
.sell_box_item li{
	width: calc((100% - 60px) / 3);
}
.sell_box_item li + li{
	margin-left: 30px;
}
.sell_box_img{
	position: relative;
	height: 540px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 8px;
}
li._sellout .sell_box_img:after{
	content: 'Sold out';
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .3);
	color: #fff;
	font-size: 24px;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
}
.sell_box_item h3{
	line-height: 36px;
	font-size: 24px;
	font-weight: bold;
}
.sell_box_item p{
	margin-bottom: 16px;
}
.money:after{
	content: attr(data-discount);
	color: #8D8D8D;
	text-decoration: line-through;
	margin-left: 8px;
}
.show_box_txt05{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.show_box_txt05>h3{
	line-height: 48px;
	font-size: 32px;
	font-weight: bold;
}
.show_box_txt05>h4{
	line-height: 30px;
	font-size: 20px;
}
.show_box_txt05>p{
	line-height: 24px;
	margin-bottom: 16px;
	
}
.mail_box{
	height: 600px;
	background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index10.jpg?raw=true) no-repeat center/cover;
	padding-bottom: 112px;
}
.mail_box_item{
	display: flex;
	height: 100%;
	align-items: flex-end;
}
.mail_box_item h4{
	line-height: 48px;
	font-size: 24px;
	color: #8D8D8D;
	margin-bottom: 20px;
}
.import_box{
	display: flex;
	width: 350px;
	height: 60px;
	background-color: #fff;
	border: 2px solid #916000;
	border-radius: 4px;
	overflow: hidden;
}
.import_box>input{
	height: 100%;
	flex:1 1 100%;
	padding: 0 16px;
}
.import_btn{
	width: 131px;
	height: 100%;
	background-color: #916000;
	color: #fff;
}
footer{
	padding: 20px 16px;
	background-color: #916000;
}
.foot_box{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.foot_menu{
	font-size: 20px;
	color: #fff;
}
.foot_menu li + li{
	margin-left: 36px;
}

/*product.html*/
.prod_menu_box{
	padding: 14px 0;
	background-color: #916000;
}
.prod_menu_list{
	display: flex;
	font-size: 20px;
	color: #fff;
}
.prod_menu_list li + li{
	margin-left: 28px;
}
.prod_item_img{
	height: 255px;
	background-position: center;
	background-size: cover;
}
.prod_box{
	padding-top: 60px;
	padding-bottom: 60px;
}
.prod_item{
	line-height: 24px;
	margin-bottom: 60px;
}
.prod_item>h3{
	line-height: 36px;
	font-weight: 600;
	font-size: 24px;
}
.prod_item>p{
	font-weight: 300;
}
.comm_btn{
	color: #916000;
	font-size: 20px;
}
.comm_btn + .comm_btn{
	margin-left: 11px;
}
.page_box{
	display: flex;
	line-height: 30px;
	font-size: 20px;
	margin-bottom: 60px;
	justify-content: center;
}
.page_box li.on{
	color: #AC8A46;
	text-decoration: underline;
}
.page_box li + li{
	margin-left: 20px;
}
/*product_detail.html*/
.detail_box{
	padding-top: 80px;
	padding-bottom: 60px;
}
.detail_img_item>div{
	margin-bottom: 30px;
}
.detail_txt>h2{
	line-height: 48px;
	font-size: 32px;
	font-weight: bold;
}
.detail_txt>h3,
.detail_cash{
	line-height: 30px;
	font-weight: 300;
	font-size: 20px;
	margin-bottom: 32px;
}
.detail_cash{
	margin-bottom: 12px;
}
.detail_add_box{
	display: flex;
	height: 50px;
	border: 1px solid #916000;
	border-radius: 4px;
	margin-bottom: 8px;
	overflow: hidden;
}
.detail_num{
	display: flex;
	height: 100%;
	flex:1 1 100%;
}
.detail_num>input{	
	padding: 0 16px;
	width: 100%;
	height: 100%;
}
.num_switch_btn{
	display: flex;
	flex-direction: column;
}
.detail_cart_btn{
	width: 190px;
	flex:none;
	background-color:#916000;
	color: #fff; 
}
.fav_btn{
	display: flex;
	align-items: center;
	margin-bottom: 80px;
}
.fav_btn>i{
	color:#916000;	
}
.detail_txt>h4,
.detail_txt>p{
	line-height: 24px;
	font-weight: 300;
	margin-bottom: 20px;
}
.detail_txt>h4{
	font-weight: bold;
	margin-bottom: 8px;
}


/*login.html*/
.login_box{
	padding-top: 80px;
	padding-bottom: 80px;
}
.login_img{
	height: 730px;
	background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/login1.jpg?raw=true) no-repeat center/cover;
}
.login_import{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.login_import>h2{
	line-height: 48px;
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 12px;
}
.login_data_item{
	width: 100%;
}
.login_data_item + .login_data_item{
	margin-top: 20px;
	margin-bottom: 36px;
}
.login_data_item>span{
	display: block;
	color: #212529;
	margin-bottom: 4px;
}
.input_area{
	width: 100%;
	height: 38px;
	padding: 0 12px;
	border: 1px solid #CED4DA;
	border-radius: 4px;
}
.login_funtion{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.login_funtion>a{
	color: #916000;	
}
.sumbit_btn{
	width: 65px;
	height: 38px;
	border-radius: 4px;
	border: 1px solid #916000;
	color: #916000;
}
.sumbit_btn.on{
	background-color: #916000;
	color: #fff;
}
.sumbit_btn + .sumbit_btn{
	margin-left: 8px;
}

/*member.html*/
.member_box{
	padding-top: 80px;
}
.mem_menu_box>h2{
	line-height: 30px;
	color: #848484;
	font-size: 20px;
	margin-bottom: 28px;
}
.mem_list{
	line-height: 24px;
	color: #848484;
}
.mem_list li + li{
	margin-top: 24px;
}
.mem_list a{
	position: relative;
}
.mem_list a:after{
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	background-color: #916000;
	top: 100%;
	left: 0;
}
.mem_list li.on a:after{
	width: 100%;
}
.mem_edit_box{
	padding-bottom: 60px;
}
.mem_edit_box>h2{
	line-height: 38px;
	border-bottom: 1px solid #818A91;
	margin-bottom: 16px;
}
.data_item{
	min-height: 38px;
	color: #818A91;
}
.data_item + .data_item{
	margin-top: 20px;
}
.data_item>div{
	line-height: 38px;
}
.mem_select{
	position: relative;
	border: 1px solid #CED4DA;
	border-radius: 4px;
	margin-bottom: 8px;
	margin-right: 8px;
}
._address{
	font-size: 0;
}
._address .mem_select{
	width: 160px;
	font-size: 16px;
}
._address .mem_select:first-child{
	display: block;
}
.mem_select>select{
	width: 100%;
	height: 100%;
	padding: 0 18px 0 8px;
	color: #818A91;
}
.mem_select>i{
	position: absolute;
	line-height: 38px;
	right: 0;
	pointer-events: none;
}
.mem_checkbox{
	display: flex;
	padding: 12px 0 20px;
	color: #818A91;
	align-items: center;
}
.mem_checkbox>input + span{
	position: relative;
	display: block;
	width: 15px;
	height: 15px;
	background-color: #916000;
	border-radius: 3px;
	margin-right: 4px;
}
.mem_checkbox>input:checked + span:after{
	content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 6px;
    transform: rotate(-48deg);
    top: 3px;
    left: 3px;
    background: transparent;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: #fff ;
}
.submit_btn{
	min-width: 165px;
	height: 38px;
	background-color: #916000;
	border-radius: 4px;
	color: #fff;
}
.data_item + h2{
	margin-top: 40px;
}
.mem_num{
	margin-bottom: 40px;
}
.mem_num_title{
	display: flex;
	color: #818A91;
	align-items: center;
	margin-bottom: 25px;
}
.mem_num_title>i{
	color: #000;
	margin-right: 5px;
}
.mem_num_title>tt{
	font-size: 20px;
	margin-left: 5px;
}
.mem_num>.data_item{
	min-height: 24px;
}
.mem_num>.data_item + .data_item{
	margin-top: 16px;
}
.mem_num>.data_item>div{
	line-height: 24px;
}
.mem_note:after{
	content: attr(data-note);
	padding-left: 15px;
	font-size: 14px;
	color: #A5A5A5;	
}
.alert_mask{
	position: fixed;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	background-color: #00000080;
}
.alert_box{
	width: 540px;
	height: 62px;
	line-height: 62px;
	background-color: #fff;
	border-radius: 4px;
	color: #916000;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
}







/*RWD*/
@media (max-width: 768px){
	.cart_num:after{
		content: attr(data-cart);
		position: absolute;
		padding: 0 5px;
		background-color: #916000;
		border-radius: 7px;
		color: #fff;
		font-size: 12px;
		top: -10px;
    	right: -10px;
	}
	.menu_hab_btn{
		position: relative;
		width: 30px;
		height: 30px;
	}
	.menu_hab_btn i,
	.menu_hab_btn i:before,
	.menu_hab_btn i:after{
		position: absolute;
		width: 100%;
		height: 5px;
		background-color: #8D8D8D;
		top: 0;
		bottom: 0;
		left: 0;
		margin: auto;
	}
	.menu_hab_btn i:before,
	.menu_hab_btn i:after{
		content: '';
		top: 0;
		bottom: calc(100% + 15px);
	}
	.menu_hab_btn i:after{
		top: calc(100% + 5px);
		bottom: auto;
	}
	.topshow_box{
		height: 480px;
		background-position: 15% center;
	}
	.topshow_txt{
		line-height: 30px;
		font-size: 20px;
	}
	.topshow_txt>h1{
		line-height: 48px;
		font-size: 32px;
	}
	.show_box{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.show_box>div + div{
		margin-top: 32px;
	}
	.show_box_item01,
	.show_box_item02,
	.show_box_item03{
		height: 350px;
		margin-bottom: 8px;
	}
	.show_box_txt{
		padding: 0;
	}
	.show_box_txt>p{
		margin-bottom: 8px;
	}
	.show_box_item04{
		height: 680px;
		margin-bottom: 8px;
	}
	.show_box_sort,
	.show_box_sort li + li{
		margin-bottom: 20px;
	}
	.sell_box{
		padding: 32px 15px;
	}
	.sell_box_item{
		flex-direction: column;
	}
	.sell_box_item li{
		width: 100%;
	}
	.sell_box_item li + li{
		margin: 32px 0 0;
	}
	.sell_box_img{
		height: 350px;
	}
	.sell_box_item p{
		margin-bottom: 4px;
	}
	.show_box_img05,
	.show_box_txt05>h4,
	.show_box_txt05>p{
		margin-bottom: 8px;
	}


	/*product.html*/
	.prod_box{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.prod_item{
		padding-right: calc(15px / 2);
		padding-left: 0;
    	margin-bottom: 30px;
	}
	.prod_item:nth-child(2n){
		padding-right: 0;
    	padding-left: calc(15px / 2);
	}
	.prod_item_img{
		height: 165px;
	}
	.prod_item>h3{
		line-height: 30px;
		font-size: 20px;
	}



	/*product_detail.html*/
	.detail_box{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.detail_img_item>div{
		margin-bottom: 16px;
	}
	.detail_txt{
		padding-bottom: 40px;
	}
	.detail_txt_img{
		margin-bottom: 28px;
	}
	.fav_btn{
		margin-bottom: 40px;
	}


	/*login.html*/
	.login_box{
		padding-top: 40px;
		padding-bottom: 106px;
	}
	.login_img{
		height: 220px;
		margin-bottom: 28px;
	}

	/*member.html*/
	.member_box{
		padding-top: 40px;
	}
	.mem_list{
		display: flex;
		justify-content: space-between;
	}
	.mem_menu_box{
		margin-bottom: 40px;
	}
	.mem_list li + li{
		margin-top: 0;
	}
	._address .mem_select + .mem_select{
		width: 80px;
	}

}

/*share*/
.main_width{
	max-width: 1110px;
	margin-right: auto;
	margin-left: auto;
}

.txtl{text-align: left;}
.txtr{text-align: right;}
.txtc{text-align: center;}


/*hand*/
[class*="_btn"]:not(:disabled),
.menu_item li,
.sell_box_item li,
.foot_menu li,
.prod_menu_list li,
.page_box li,
.input_area,
.mem_list a:after,
.ph_menu_item li,
.prod_item_img{	
	transition: all .2s linear;
}

[class*="_btn"]:not(:disabled),
.main_logo,
.menu_item li,
.sell_box_item li,
.foot_menu li,
.prod_menu_list li,
.page_box li:not(.on),
.mem_list li,
.ph_menu_item li,
.prod_item_img{
	cursor: pointer;
}

/*pc hover*/
@media (pointer: fine),
(-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
	[class*="_btn"]:hover,
	.menu_item li:hover,
	.sell_box_item li:hover,
	.foot_menu li:hover,
	.prod_menu_list li:hover,
	.ph_menu_item li:hover,
	.prod_item_img:hover{
		opacity: 0.7;
	}
	.topshow_btn:hover,
	.train_btn:hover,
	.num_switch_btn i:hover{
		background-color: #fff;
		color: #916000;
	}
	.page_box li:hover,
	.login_funtion a:hover{
		color: #916000;
		text-decoration: underline;
	}
	.input_area:hover{
		border-color: #916000;
	}
	.mem_list li:hover a:after{
		width: 100%;
	}
}
	[class*="_btn"]:active,
	.menu_item li:active,
	.sell_box_item li:active,
	.foot_menu li:active,
	.prod_menu_list li:active,
	.ph_menu_item li:active,
	.prod_item_img:active{
		opacity: 0.7;
	}
	.topshow_btn:active,
	.train_btn:active,
	.num_switch_btn i:active{
		background-color: #fff;
		color: #916000;
	}
	.page_box li:active,
	.login_funtion a:active{
		color: #916000;
		text-decoration: underline;
	}
	.input_area:active{
		border-color: #916000;
	}
	.mem_list li:active a:after{
		width: 100%;
	}
	.input_area:focus{
		border-color: #916000;
	}
