.outside_flex {
    background-color: #000;
}

/* 左邊按鈕 */
.menu {
    width: 130px;
    height: 200px;
    background-image: map-get($ba2_bg_color, bg_primary);
    &__btn {
        @include btn_set(130px, 40px, transparent);
        @include btn_border(0, map-get($ba2_border_color, border_secondary));

        &::after {
            @include btn_txt(center, map-get($ba2_txt_color, txt_primary), map-get($ba2_txt_color, txt_shadow));
        }

        .hover_item {
            @include btn_hoveritem(map-get($ba2_btn_color, btn_secondary));

            &::before {
                @include btn_hoverlight01(150%);
            }
        }


        // _on效果
        @include btn_on(map-get($ba2_txt_color, txt_primary)) {
            border-width: 1px 0;
        }

        // 手指效果
        @include btn_hoverHandler(1px 0, map-get($ba2_txt_color, txt_primary));
    }
}


/* 桌號按鈕 */
.tableno {
    display: flex;
    width: 500px;
    padding: 20px;
    background-color: #000;
    align-content: flex-start;
    flex-wrap: wrap;
    &__btn{
        @include btn_set(115px, 35px, map-get($ba2_btn_color, btn_primary));
        border-radius: 3px;
        border: 2px solid map-get($ba2_bg_color, bg_secondary);
        margin: 0 10px 10px;
        &::before{
            @include btn_hoverlight02;
        }
        &::after {
            @include btn_txt(center, map-get($ba2_txt_color, txt_secondary ), transparent);
            font-weight: bold;
        }
        .hover_item {
            @include btn_hoveritem(map-get($ba2_btn_color, btn_brown));
            box-shadow: 0 0 3px map-get($ba2_bg_color, bg_secondary) inset,
            0 0 6px map-get($ba2_bg_color, bg_secondary) inset;
            &::before {
                @include btn_hoverlight02;
            }
        }
        // 狀態
        &.--i_vip::after {
            width: calc(100% - 5px);
            padding-left: 5px;
            justify-content: flex-start;
        }
        >i {
            position: absolute;
            display: block;
            width: 30px;
            height: 13px;
            top: 0;
            bottom: 0;
            right: 10px;
            margin: auto;
        }
        &.--i_vip>i {
            background: url(../images/icon_vip.svg) no-repeat center/contain;
        }
        &.--i_ex>i::before,
        &.--i_fast>i::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background: url(../images/icon_ex.svg) no-repeat center/contain;
            top: 0;
            bottom: 0;
            right: -20px;
            margin: auto;
        }
        &.--i_fast>i::after {
            background-image: url(../images/icon_fast.svg);
        }
        &.--i_ex.--i_fast>i::before,
        &.--i_ex.--i_fast>i::after {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            top: -8px;
            bottom: auto;
            right: -15px;
        }

        &.--i_ex.--i_fast>i::after {
            top: 8px;
        }        

        // _on效果
        @include btn_on(map-get($ba2_txt_color, txt_primary));

        // 手指效果
        @include btn_hoverHandler(2px 2px, map-get($ba2_txt_color, txt_primary));
    }
}

/* 投注按鈕 */
.function {
    display: flex;
    width: 400px;
    padding: 10px;
    background-image: linear-gradient(to top, #3D3022 0%, #160C0D 100%);
    justify-content: center;
    &__btn{
        @include btn_set(140px, 60px, map-get($ba2_btn_color, btn_lightblue));
        @include btn_border(1px 0, map-get($ba2_border_color, border_primary));
        &::before{
            @include btn_hoverlight01(200%);
        }
        &::after{
            @include btn_txt(center, map-get($ba2_txt_color, txt_primary), map-get($ba2_txt_color, txt_shadow));
            font-size: 24px;
            
        }
        .hover_item{
            @include btn_hoveritem(map-get($ba2_btn_color, btn_blue));
            box-shadow: 0 0 3px map-get($ba2_bg_color, bg_secondary) inset,
                        0 0 6px map-get($ba2_bg_color, bg_secondary) inset;
            &::before {
                @include btn_hoverlight01(200%);
            }
        }
        // 續押
        &.--repeat {
            background: map-get($ba2_btn_color, btn_lightgreen);
            .hover_item {
                background: map-get($ba2_btn_color, btn_green);
            }
        }

        // 取消
        &.--cancel {
            background: map-get($ba2_btn_color, btn_lightred);
            .hover_item {
                background: map-get($ba2_btn_color, btn_red);
            }
        }

        // 手指效果
        @include btn_hoverHandler(1px 0, map-get($ba2_txt_color, txt_primary));
    }
}

/* 視訊品質 */
.channel {
    height: 30px;
    border-radius: 5px;
    &__item{
        display: flex;
        height: 100%;
        border-radius: 5px;
        >li{
            @extend %hand;
            @include btn_set(70px, 100%, map-get($ba2_txt_color, txt_black));
            font-weight: bold;

            &::after{
                @include btn_txt(center, map-get($ba2_txt_color, txt_gray), transparent);
            }
            .hover_item{
                @include btn_hoveritem(map-get($ba2_btn_color, btn_primary));
                border: 1px solid map-get($ba2_txt_color, txt_primary);
                &::before {
                    @include btn_hoverlight02;
                }
            }

            // _on效果
            @include btn_on(map-get($ba2_txt_color, txt_secondary ));
            
            // 手指效果
            @include btn_hoverHandler(0 0, map-get($ba2_txt_color, txt_secondary ));
        }
    }
}

/* 卡號 */
.cardno {
    display: flex;
    height: 30px;
    border-radius: 5px 5px 0 0;
    font-size: 0;
    >li{
        @extend %hand;
        @include btn_set(auto, 100%, map-get($ba2_btn_color, btn_darkbrown));
        min-width: 80px;
        padding: 0 5px;
        border: 1px solid map-get($ba2_txt_color, txt_primary);
        border-width: 1px 1px 0;
        +li{
            border-left: none;
        }
        &::after{
            @include btn_txt(center, map-get($ba2_txt_color, txt_primary), transparent);
            font-size: 14px;
        }
        .hover_item{
            @include btn_hoveritem(map-get($ba2_btn_color, btn_primary));
            &::before{
                @include btn_hoverlight02;
            }
        }

        // _on效果
        @include btn_on(map-get($ba2_txt_color, txt_secondary ));
        
        // 手指效果
        @include btn_hoverHandler(1px 1px 0, map-get($ba2_txt_color, txt_secondary ));
    }
}

/* 公關功能 */
.PR {
    height: 30px;
    border-radius: 5px;
    font-size: 0;
    &__btn{
        @include btn_set(100px, 100%, map-get($ba2_btn_color, btn_lightgreen));
        @include btn_border(1px 0, map-get($ba2_border_color, border_primary));
        &::before{
            @include btn_hoverlight02;
        }
        &::after{
            @include btn_txt(center, map-get($ba2_txt_color, txt_primary), map-get($ba2_txt_color, txt_shadow));
        }
        .hover_item{
            @include btn_hoveritem(map-get($ba2_btn_color, btn_green));
            box-shadow: 0 0 1px map-get($ba2_bg_color, bg_secondary) inset,
                        0 0 3px map-get($ba2_bg_color, bg_secondary) inset;
            &::before {
                @include btn_hoverlight02;
            }
        }
        // 打賞
        &.--tips {
            background: map-get($ba2_btn_color, btn_orange);

            .hover_item {
                background: map-get($ba2_btn_color, btn_lightorange);
            }
        }

        // 飛牌
        &.--fly {
            background: map-get($ba2_btn_color, btn_lightblue);

            .hover_item {
                background: map-get($ba2_btn_color, btn_blue);
            }
        }

        // 手指效果
        @include btn_hoverHandler(1px 0, map-get($ba2_txt_color, txt_primary));
    }
}

/* 另開功能分頁 */
.othpage {
    width: 680px;
    height: 30px;
    border-radius: 5px;
    font-size: 0;
    &__btn{
        @include btn_set(calc(100% / 4), 100%, map-get($ba2_btn_color, btn_lightgreen));
        @include btn_border(1px 0, map-get($ba2_border_color, border_primary));
        &::before{
            @include btn_hoverlight02;
        }
        &::after{
            @include btn_txt(center, map-get($ba2_txt_color, txt_primary), map-get($ba2_txt_color, txt_shadow));
        }
        .hover_item{
            @include btn_hoveritem(map-get($ba2_btn_color, btn_green));
            box-shadow: 0 0 1px map-get($ba2_bg_color, bg_secondary) inset,
            0 0 3px map-get($ba2_bg_color, bg_secondary) inset;
            &::before {
                @include btn_hoverlight02;
            }
        }

        // 免佣
        &.--nocon {
            background-image: map-get($ba2_btn_color, btn_purple);
            .hover_item {
                background-image: map-get($ba2_btn_color, btn_lightpurple);
            }
        }

        // 多桌
        &.--more_tb {
            background-image: map-get($ba2_btn_color, btn_orange);
            .hover_item {
                background-image: map-get($ba2_btn_color, btn_lightorange);
            }
        }

        // 好路追注
        &.--good_road {
            background-image: map-get($ba2_btn_color, btn_lightblue);
            .hover_item {
                background-image: map-get($ba2_btn_color, btn_blue);
            }
        }

        // 手指效果
        @include btn_hoverHandler(1px 0, map-get($ba2_txt_color, txt_primary));

    }
}


// 好路追注
.title {
    @include d_f(flex, center, center) @include btn_border(1px 0, map-get($ba2_border_color, border_secondary));
    width: 300px;
    height: 30px;
    background: map-get($ba2_btn_color, btn_blue);

    &__txt {
        color: map-get($ba2_txt_color, txt_primary);
    }
}
.goodroad {
    width: 250px;

    &__item {
        @include d_f(flex, center, center);
        @extend %hand;
        position: relative;
        height: 55px;
        padding: 2px;
        background: map-get($ba2_btn_color, btn_gold);
        border-radius: 5px;
        color: map-get($ba2_txt_color, txt_primary);
        font-size: 14px;
        margin-bottom: 5px;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            display: flex;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            background: map-get($ba2_btn_color, btn_black);
        }

        .hover_item {
            @include btn_hoveritem(map-get($ba2_btn_color, btn_lightblack));
        }

        &__tb {
            @include d_f(flex, center, center);
            position: relative;
            flex: 0 0 55px;
            height: 90%;
            border-right: 1px solid map-get($ba2_bg_color, bg_secondary);
        }

        &__txt {
            @include d_f(flex, center, center);
            position: relative;
            flex: 1 1 100%;
            height: 100%;
        }

        &__go {
            position: relative;
            flex: 0 0 55px;
            padding: 5px;

            i {
                @include btn_set(100%, 100%, map-get($ba2_btn_color, btn_primary));
                display: block;
                padding: 0 7px;
                border: 1px solid map-get($ba2_bg_color, bg_secondary);
                border-radius: 3px;

                &::before {
                    @include btn_hoverlight02;
                }

                &::after {
                    @include btn_txt(center, map-get($ba2_txt_color, txt_secondary ), transparent);
                }
            }
        }

        // 莊
        &.--player {
            &::before {
                background: map-get($ba2_btn_color, btn_red);
            }

            .hover_item {
                @include btn_hoveritem(map-get($ba2_btn_color, btn_lightred));
            }
        }

        // 閒
        &.--banker {
            &::before {
                background: map-get($ba2_btn_color, btn_blue);
            }

            .hover_item {
                @include btn_hoveritem(map-get($ba2_btn_color, btn_lightblue));
            }
        }



        // 手指效果
        @include btn_hoverHandler(1px 0, map-get($ba2_txt_color, txt_primary));
    }
}

