// 各種狀態關鍵字 >> 電網投各種狀態
.frame{
    display: grid;
    width: 100%;
    height: 100%;
    max-width: 1290px;
    // min-height: 900px;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    grid-template-columns: 130px minmax(0, 1fr);
    grid-template-rows: minmax(0, 100%);
    grid-template-areas:"menu main"
                        "menu main";
    margin: auto;
    @include mw_lg {
        grid-template-columns: 80px minmax(0, 1fr);
    }
    @include mw_md {
        grid-template-columns: 100%;
        grid-template-rows: minmax(0, 1fr) 50px;
        grid-template-areas:"main main"
                            "menu menu";
    }
    // .frame__menu
    &__menu {
        grid-area: menu;
        background: map-get($bg_color, primary);
        z-index: 3;
        @include mw_md{
            @include scrollbar(auto, hidden);
            @include d_f(flex, center, center);
            position: relative;
        }
    }

    // .frame__main
    &__main {
        grid-area: main;

        display: grid;
        grid-template-rows: 50px minmax(0, 1fr);
        grid-template-areas:"nav"
                            "inside";

        // .frame__main__nav
        &__nav{
            @include d_f(flex, center, flex-start);
            grid-area: nav;
            padding: 0 10px;
            background: map-get($bg_color, primary_vl);
            z-index: 2;
        }

        // .frame__main__inside
        &__inside {
            grid-area: inside;

            display: grid;
            grid-template-columns: 750px minmax(0, 1fr);
            grid-template-rows: 480px 80px minmax(200px, 250px);
            grid-template-areas:"video order"
                                "table order"
                                "road details";
            
            @include mw_lg{
                grid-template-columns: 700px minmax(0, 1fr);
                grid-template-rows: 430px 80px minmax(200px, 250px);
            }
            @include mw_md {
                @include scrollbar(hidden, auto);
                grid-template-rows: 430px 25px minmax(200px, 250px);
            }
            @include mw_ms {
                grid-template-columns: 1fr;
                grid-template-rows: 50vw 300px 1fr;
            }
            @include mw_xs {
                grid-template-rows: 70vw 300px 1fr;
            }
            
            .video {
                grid-area: video;
                
                background-color: map-get($bg_color, black);

                @include mw_ms{
                    grid-area: 1 / 1 / 2 / 2;
                }
            }

            .table {
                grid-area: table;
                
                background-color: map-get($bg_color, black);
                z-index: 2;

                @include mw_ms {
                    grid-area: 2 / 1 / 3 / 2;
                }
            }

            .order {
                grid-area: order;

                @include mw_ms {
                    grid-area: 2 / 1 / 3 / 2;
                }                
            }

            .road {
                grid-area: road;
                background-color: #fff;

                @include mw_ms {
                    min-height: 350px;
                    grid-area: 4 / 1 / 5 / 2;
                }
            }
            
            .detail {
                grid-area: details;

                z-index: 2;

                @include mw_ms {
                    grid-area: 1 / 1 / 2 / 2;
                }
            }
        }        
    }
}



// 電網投各種狀態
// 主要區塊配置 電投有卡 電投無卡 網投無卡 
.--telType .frame__main__inside,
.--telType.--noCard .frame__main__inside,
.--noOrder .frame__main__inside {
    grid-template-areas:"video details"
                        "table details"
                        "road road";
}
// 內層配置 電投有卡 
.--telType .order {
    grid-area: 1 / 2 / 3 / 3;
}
// 內層配置 電投無卡 網投無卡
.--noCard .order,
.--noOrder .order {
    display: none;
}



// 視訊放大
// 主要區塊配置 電頭有卡 網投有卡
.--telType.--bigTv .frame__main__inside,
.--bigTv .frame__main__inside {
    grid-template-columns: 100%;
    grid-template-rows: 600px calc(100% - 600px);
    grid-template-areas:"video"
                        "order";
}
// 內層配置 電投有卡 電頭無卡 網投有卡 網投無卡
.--bigTv .table,
.--bigTv .road,
.--bigTv .detail {
    display: none;
}
// 內層配置 電投有卡 網投有卡
.--bigTv .order {
    grid-area: 2 / 1 / 3 / 2;
}

// 主要區塊配置 電投無卡 網投無卡
.--telType.--noCard.--bigTv .frame__main__inside,
.--noOrder.--bigTv .frame__main__inside {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas:"video";
}
// 內層配置 電投無卡 網投無卡
.--bigTv.--noCard .order,
.--bigTv.--noOrder .order {
    display: none;
}


