// 各種狀態關鍵字 >> 電網投各種狀態
.frame{
    display: grid;
    width: 100%;
    height: 100%;
    max-width: 1290px;
    // min-height: 900px;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    grid-template-rows: minmax(0, 100%);
    grid-template-columns: 130px minmax(0, 1fr);
    grid-template-areas:"menu main"
                        "menu main";
    margin: auto;
    @include mw_lg {
        grid-template-columns: 80px minmax(0, 1fr);
    }
    @include mw_md {
        grid-template-rows: minmax(0, 1fr) 50px;
        grid-template-columns: 100%;
        grid-template-areas:"main main"
                            "menu menu";
    }
    // .frame__menu
    &__menu {
        grid-area: menu;
        background: map-get($bg_color, primary);
        z-index: 3;
        @include mw_md{
            @include scrollbar(auto, hidden);
            @include d_f(flex, center, center);
            position: relative;
        }
    }

    // .frame__main
    &__main {
        grid-area: main;

        display: grid;
        grid-template-rows: 50px minmax(0, 1fr);
        grid-template-areas:"nav"
                            "inside";
        @include mw_xs{
            grid-template-rows: 40px minmax(0, 1fr);
        }

        // .frame__main__nav
        &__nav{
            @include d_f(flex, center, flex-start);
            grid-area: nav;
            padding: 0 10px;
            background: map-get($bg_color, primary_vl);
            z-index: 2;
        }

        // .frame__main__inside
        &__inside {
            grid-area: inside;

            display: grid;
            grid-template-rows: 480px 80px minmax(200px, 250px);
            grid-template-columns: 750px minmax(0, 1fr);
            grid-template-areas:"video order"
                                "table order"
                                "road details";
            
            @include mw_lg{
                grid-template-rows: 430px 30px minmax(200px, 250px);
                grid-template-columns: 700px minmax(0, 1fr);
            }
            @include mw_md {
                @include scrollbar(hidden, auto);
            }
            @include mw_ms {
                grid-template-areas:"video"
                                    "order"
                                    "road";
                grid-template-rows: 50vw 1fr minmax(200px, 250px);
                grid-template-columns: minmax(0, 1fr);

                // 選擇桌次展開
                @at-root .--tableOpen .frame__main__inside {
                    grid-template-areas:"video"
                                        "table"
                                        "order"
                                        "road";
                    grid-template-rows: 50vw 1fr 1fr minmax(200px, 250px);
                }
            }
            @include mw_xs {
                grid-template-rows: 60vw 1fr minmax(200px, 350px);

                // 選擇桌次展開
                @at-root .--tableOpen .frame__main__inside {
                    grid-template-rows: 60vw 1fr 1fr minmax(200px, 350px);
                }
            }
            
            .video {
                grid-area: video;
                
                background-color: map-get($bg_color, black);
                @include mw_ms{
                    grid-area: 1 / 1 / 2 / 2;
                }
            }

            .table {
                grid-area: table;
                
                background-color: map-get($bg_color, black);
                z-index: 2;

                @include mw_ms {
                    grid-area: auto;
                    display: none;

                    // 選擇桌次展開
                    @at-root .--tableOpen .table {
                        display: flex;
                    }
                }
            }

            .order {
                grid-area: order;

                @include mw_ms {
                    grid-area: 2 / 1 / 3 / 2;

                    // 選擇桌次展開
                    @at-root .--tableOpen .order {
                        grid-area: auto;
                    }
                }                
            }

            .road {
                grid-area: road;
                background-color: #fff;

                @include mw_ms {
                    min-height: 350px;

                    // 選擇桌次展開
                    @at-root .--tableOpen .road {
                        grid-area: auto;
                    }
                }
            }
            
            .detail {
                grid-area: details;

                z-index: 3;

                @include mw_ms {
                    grid-area: 1 / 1 / 2 / 2;
                }
            }
        }        
    }
}



// 電網投各種狀態
// ============================================
// 主要區塊配置 電投有卡
.--telType .frame__main__inside{
    grid-template-areas:"video details"
                        "table details"
                        "road road";

    @include mw_ms{
        grid-template-areas:"video"
                            "order"
                            "road";
        grid-template-rows: 60vw 60px minmax(200px, 350px);

        // 選擇桌次展開
        @at-root .--telType.--tableOpen .frame__main__inside{
            grid-template-areas:"video"
                                "order"
                                "table"
                                "road";
            grid-template-rows: 60vw 30px 130px minmax(200px, 350px);
        }

        
        // 卡片all展開
        @at-root .--telType.--cardOpen .frame__main__inside{
            grid-template-rows: 60vw 200px minmax(200px, 350px);
        }

        // 卡片all展開 + 選擇桌次展開
        @at-root .--telType.--cardOpen.--tableOpen .frame__main__inside{
            grid-template-areas:"video"
                                "order"
                                "table"
                                "road";
            grid-template-rows: 60vw 200px 130px minmax(200px, 350px);
        }
    }
}
// 主要區塊配置 電投無卡 網投無卡
.--noCard .frame__main__inside,
.--noOrder .frame__main__inside {
    grid-template-areas:"video details"
                        "table details"
                        "road road";
    
    @include mw_ms{
        grid-template-areas:"video"
                            "road";
        grid-template-rows: 60vw minmax(200px, 350px);

        // 選擇桌次展開
        @at-root .--noCard.--tableOpen .frame__main__inside,
        .--noOrder.--tableOpen .frame__main__inside{
            grid-template-areas:"video"
                                "table"
                                "road";
            grid-template-rows: 60vw 130px minmax(200px, 350px);
        }
    }
}

// 內層配置 電投有卡 
.--telType .order {
    grid-area: 1 / 2 / 3 / 3;

    @include mw_ms{
        grid-area: 2 / 1 / 3 / 2;
    }
}
// 內層配置 電投無卡 網投無卡
.--noCard .order,
.--noOrder .order {
    display: none;
}



// 視訊放大
// 主要區塊配置 網投有卡
.--bigTv .frame__main__inside {
    grid-template-rows: 550px 20px 200px 30px;
    grid-template-columns: 100%;
    grid-template-areas:"video"
                        "table"
                        "order"
                        "road";
}
// 主要區塊配置 電投有卡
.--telType.--bigTv .frame__main__inside{
    grid-template-rows: 550px 20px 30px;
    grid-template-columns: 100%;
    grid-template-areas:"video"
                        "table"
                        "road";
    
    // 卡片all展開
    // 選擇桌次展開
    @at-root .--telType.--bigTv.--cardOpen .frame__main__inside,
    .--telType.--bigTv.--tableOpen .frame__main__inside{
        grid-template-rows: 550px 20px 100px 30px;
        grid-template-areas:"video"
                            "table"
                            "order"
                            "road";
    }
    
    .order {
        grid-area: auto;
    }
}

// 主要區塊配置 電投無卡 網投無卡
.--noCard.--bigTv .frame__main__inside,
.--noOrder.--bigTv .frame__main__inside {
    grid-template-rows: 550px 20px;
    grid-template-columns: 100%;
    grid-template-areas:"video"
                        "table";

    // 選擇桌次展開
    @at-root .--noCard.--bigTv.--tableOpen .frame__main__inside,
    .--noOrder.--bigTv.--tableOpen .frame__main__inside{
        grid-template-rows: 550px 120px;
    }
}
// 內層配置 電投有卡 網投有卡 電投無卡 網投無卡
.--bigTv .detail,
// 內層配置 電投無卡 網投無卡
.--bigTv.--noCard .order,
.--bigTv.--noCard .road,
.--bigTv.--noOrder .order,
.--bigTv.--noOrder .road{
    display: none;
}


