
// 視訊上物件.video__function
.video{
    position: relative;

    &__function{
        @include pos_abs(0, 0, 0, 0);
        @include d_f(flex, flex-start, flex-start);
        margin: auto;

        // 桌次資訊.video__function__info
        &__info{
            @include border(0 0 1px, map-get($border_color , secondary));
            flex: none;
            padding: 5px 10px;
            background: map-get($bg_color , darkblue_vl);
            .txt{
                @include d_f(flex, center, space-between);
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 10px;
                @include mw_ms {
                    font-size: 12px;
                }
            }
            .time{
                min-width: 150px;
                display: block;
                color: map-get($txt_color, yellow);
                font-weight: bold;
                text-align: center;
                
                &::before{
                    content: attr(data-time);
                    font-size: 50px;
                }
                &::after {
                    content: attr(data-txt);
                    font-size: 35px;
                }
                &[data-time=""]::before,
                &[data-txt=""]::after{
                    content: none;
                }
                @include mw_ms{
                    min-width: 100px;
                    &::before {
                        font-size: 40px;
                    }
                    &::after{
                        font-size: 20px;
                    }
                }
            }
        }

        // 跑馬燈.video__function__marquee
        &__marquee{
            @include d_f(flex, center, flex-end);
            position: relative;
            flex: 1 1 100%;
            padding: 5px 30px 5px 10px;
            overflow: hidden;
            z-index: 1;

            &::after{
                @include pos_abs(5px, 0, unset, unset);
                content: 'NEWS';
                padding: 2px 3px;
                background: map-get($bg_color, red);
                font-size: 12px;
            }
            span{
                flex: 0 0 100%;
                white-space: nowrap;
                animation: marquee_move 25s linear infinite;
            }

            @keyframes marquee_move {
                0% {
                    transform: translateX(100%);
                }

                100% {
                    transform: translateX(-100%);
                }
            }

        }

        // 視訊放大
        .videobig_btn{
            @include btn_set(40px, 30px, url(../images/icon_vedioBig.svg) no-repeat center / contain);
            margin: 0 10px;
            &.--small{
                background-image: url(../images/icon_vedioSmall.svg);
            }
            
            @include coarse{
                display: none;
            }
        }


        // 選擇卡片呼叫公關
        .PR_btn{
            @include btn_set(auto, 30px, map-get($btn_color, green));
            @include pos_abs (unset, unset, calc(100% + 10px), 380px);
            @include border(1px, map-get($border_color, green));
            padding: 0 10px;
            z-index: 2;

            @include mw_md{
                bottom: 0;
                left: 10px;
            }

            &::before{
                @include btn_hoverlight03;
            }
            &::after{
                @include btn_txt(center, map-get($txt_color, primary), map-get($txt_color, shadow));
            }
            .hover_item{
                @include btn_hoveritem(map-get($btn_color, lightgreen));
                box-shadow: 0 0 1px map-get($bg_color, secondary) inset,
                            0 0 3px map-get($bg_color, secondary) inset;
                &::before {
                    @include btn_hoverlight03;
                }
            }
            i{
                @include btn_i(map-get($bg_color, i_green));
            }
            // 手指效果
            @include btn_hoverHandler(1px, map-get($txt_color, primary));
        }

        // 連線訊號燈.video__function__speed
        &__speed{
            @include pos_abs(unset, 0, 0, unset);
            padding: 5px 10px 5px 5px;
            font-size: 14px;
            text-shadow: 1px 1px map-get($txt_color, shadow);

            &::before{
                @include pos_abs(0, 100%, 0, unset);
                content: '';
                width: 8px;
                height: 8px;
                border-radius: 8px;
                background: map-get($bg_color, green);
                margin: auto;
            }
            &.--slow::before{
                background: map-get($bg_color, red);
            }
        }
    }
}


// 選擇桌次.table__title
.table{
    @include d_f(flex, flex-start, flex-start);
    position: relative;
    flex-direction: column;

    &__title{
        position: relative;
        width: 100%;
        flex: none;
        height: 30px;
        background: map-get($bg_color, primary_vl);
        overflow: hidden;

        &::before{
            @include pos_abs(0, unset, 0, calc(50% + 50px));
            @include triangle(10px, map-get($bg_color, secondary), bottom);
            content: none;
            margin: auto;
            animation: shake 2s infinite;
            z-index: 1;

            @include mw_lg{
                content: '';
            }

            @include mw_ms {
                content: none;
            }
            
            @keyframes shake {
                10%,
                30%,
                50%,
                70%,
                90% {
                    -webkit-transform: translateY(-3px);
                    transform: translateY(-3px);
                }
                0%,
                20%,
                40%,
                60%,
                80%,
                100% {
                    -webkit-transform: translateY(3px);
                    transform: translateY(3px);
                }
            }

        }
        &::after{
            @include btn_txt(center, map-get($txt_color, yellow), map-get($txt_color, shadow));
            @include pos_abs(0, 0, 0, 0);
            margin: auto;
        }

        span{
            display: block;
            width: 200px;
            height: 60px;
            background: map-get($bg_color, darkblue_vl);
            border-left: 1px solid map-get($bg_color, secondary);
            border-right: 1px solid map-get($bg_color, secondary);
            transform: perspective(150px) rotateX(-45deg);
            transform-origin: 50% 0;
            margin: auto;
        }
    }

    // .table__group
    &__group{
        @include scrollbar(hidden, auto);
        @include d_f(flex, flex-start, flex-start);
        flex: 1 1 100%;
        flex-wrap: wrap;
        background: map-get($bg_color, black_alpha);
        padding: 5px 10px;

        @include mw_lg{
            @include pos_abs(30px, unset, unset, 0);
            max-height: 100px;
            display: none;
        }
        @include mw_ms {
            position: static;
            display: flex;
            padding: 5px;
        }

        li{
            @extend %hand;
            @include btn_set(115px, 35px, map-get($btn_color, secondary));
            border-radius: 3px;
            border: 2px solid map-get($bg_color, lightblue);
            margin: 0 10px 5px;

            @include mw_ms {
                width: 110px;
                margin: 0 5px 5px;
            }

            &::before{
                @include btn_hoverlight03;
            }
            &::after {
                @include btn_txt(center, map-get($txt_color, primary), transparent);
                font-weight: bold;
            }
            .hover_item {
                @include btn_hoveritem(map-get($btn_color, primary));
                box-shadow: 0 0 3px map-get($bg_color, secondary) inset,
                0 0 6px map-get($bg_color, secondary) inset;
                &::before {
                    @include btn_hoverlight03;
                }
            }
            // 狀態
            &.--i_vip::after {
                width: calc(100% - 5px);
                padding-left: 5px;
                justify-content: flex-start;
            }
            >i {
                position: absolute;
                display: block;
                width: 30px;
                height: 13px;
                top: 0;
                bottom: 0;
                right: 10px;
                margin: auto;
            }
            &.--i_vip>i {
                background: url(../images/icon_vip.svg) no-repeat center / contain;
            }
            &.--i_ex>i::before,
            &.--i_fast>i::after {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                background: url(../images/icon_ex.svg) no-repeat center / contain;
                top: 0;
                bottom: 0;
                right: -20px;
                margin: auto;
            }
            &.--i_fast>i::after {
                background-image: url(../images/icon_fast.svg);
            }
            &.--i_ex.--i_fast>i::before,
            &.--i_ex.--i_fast>i::after {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                top: -8px;
                bottom: auto;
                right: -15px;
            }

            &.--i_ex.--i_fast>i::after {
                top: 8px;
            }        

            // _on效果
            @include btn_on(map-get($txt_color, secondary)){
                border-color: map-get($bg_color, lightyellow);
            }

            // 手指效果
            @include btn_hoverHandler(2px, map-get($txt_color, secondary)){
                border-color: map-get($bg_color, lightyellow);
            }
        }
    }
}

// 下注區與卡號
.order{
    @include d_f(flex, unset, flex-end);
    position: relative;
    height: 100%;
    flex-direction: column;
    
    // 下注資訊.order__info
    &__info {
        background: map-get($bg_color, primary_vl);
        padding: 5px;
        order: -2;

        ul {
            @include d_f(flex, center, center);
            padding: 3px 5px;
            background: map-get($bg_color, black);
            font-size: 12px;
        }

        li {
            &::before {
                content: attr(data-txt);
            }

            &:not(:last-child)::after {
                content: '';
                border-left: 1px solid map-get($bg_color, white);
                margin: 0 5px;
            }
        }
    }

    // 下注桌布.order__area
    &__area {
        @include d_f(flex, flex-start, flex-start);
        flex-wrap: wrap;
        flex: 1 1 100%;
        background: map-get($bg_color, order_area);
        border: 1px solid map-get($bg_color, black);

        .area_b,
        .area_p,
        .area_t,
        .area_bp,
        .area_pp {
            @include d_f(flex, unset, flex-start);
            flex-direction: column;
            position: relative;
            width: 50%;
            height: 55%;
            padding: 5px;
            font-size: 60px;

            // 不能下注
            &.--nobet::after {
                @include pos_abs(0, 0, 0, 0);
                content: '';
                background: map-get($bg_color, black_alpha);
                margin: auto;

            }

            @include mw_lg {
                font-size: 50px;
            }
        }

        .area_t,
        .area_bp,
        .area_pp {
            width: calc(100% / 3);
            height: 45%;
            border-top: 1px solid map-get($bg_color, black);
            font-size: 40px;

            @include mw_lg {
                font-size: 30px;
            }
        }

        .area_b,
        .area_t,
        .area_bp {
            border-right: 1px solid map-get($bg_color, black);
        }

        // 下注區內容物
        .shine {
            @include pos_abs(0, 0, 0, 0);
            background: map-get($bg_color, secondary_alpha);
            margin: auto;
            animation: shine .8s ease infinite;

            @keyframes shine {
                0% {
                    opacity: 0;
                }

                50% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }
        }

        .odd {
            font-size: 14px;
            text-shadow: 2px 1px map-get($txt_color, shadow);
        }

        .txt {
            @include d_f(flex, center, center);
            flex: 1 1 100%;
            font-weight: bold;
        }

        .limit {
            color: map-get($txt_color, yellow);
            font-size: 14px;
            text-shadow: 2px 1px map-get($txt_color, shadow);

            @at-root .area_p .limit{
                text-align: right;
            }

            &::before,
            &::after {
                content: attr(data-min);
            }

            &::after {
                content: attr(data-max);
            }
        }

        .total_amount {
            @include pos_abs(0, 5px, unset, unset);
            @include border(0 0 1px, map-get($border_color, secondary));
            min-width: 50px;
            padding: 3px 10px;
            background: map-get($bg_color, black);
            border-radius: 0 0 5px 5px;
            color: map-get($txt_color, primary);
            font-size: 14px;
            text-align: center;
        }

        .amount {
            @include pos_abs(unset, unset, 25px, 5px);
            @include border(1px, map-get($border_color, primary));
            min-width: 50px;
            height: 25px;
            padding: 3px 5px;
            background: map-get($bg_color, black);
            color: map-get($txt_color, primary);
            font-size: 14px;

            @at-root .area_p .amount {
                left: auto;
                right: 5px;
            }

            &_btn {
                @include btn_set(23px, 23px, transparent);
                @include pos_abs(0, 0, unset, unset);
                background: url(../images/icon_x.svg) no-repeat center / 50%;

                // 手指效果
                @include hoverHandler {
                    transform: scale(1.2);
                }
            }
        }

        .coin {
            @include pos_abs(unset, 0, 0, unset);
            width: 75px;
            max-height: 60%;
            transform: scale(.8);
        }
    }

    // 籌碼.order__chips
    &__chips {
        @include d_f(flex, center, space-around);
        flex: none;
        height: 70px;
        background: map-get($bg_color, darkblue_vl);

        @include mw_ms{
            justify-content: center;
            order: -1;
        }

        li{
            @extend %hand;
            @extend %transition;
            width: 50px;
            height: 50px;
            flex: none;

            @include mw_ms {
                margin: 0 20px;
            }

            @include mw_xs {
                margin: 0 5px;
            }


            &.--on{
                width: 65px;
                height: 65px;
            }

            // 手指效果
            @include hoverHandler {
                width: 65px;
                height: 65px;
            }
        }
    }

    // 下注按鈕.order__function
    &__function {
        @include d_f(flex, center, center);
        flex: none;
        height: 10%;
        min-height: 40px;
        background: map-get($bg_color, black);

        .function_btn {
            @include btn_set(calc(100% / 3), 100%, map-get($bg_color, blue));
            @include border(2px, map-get($border_color, blue));

            &::before {
                @include btn_hoverlight04;
            }

            &::after {
                @include btn_txt(center, map-get($txt_color, primary), map-get($txt_color, shadow));
                font-size: 24px;
            }

            .hover_item {
                @include btn_hoveritem(map-get($bg_color, middblue));

                &::before {
                    @include btn_hoverlight04;
                }
            }

            i {
                @include btn_i(map-get($bg_color, i_blue));
            }

            // 續押
            &.--repeat {
                background: map-get($bg_color, green);
                border-image: map-get($border_color, green);

                .hover_item {
                    background: map-get($bg_color, darkgreen);
                }

                i {
                    @include btn_i(map-get($bg_color, i_green));
                }
            }

            // 取消
            &.--cancel {
                background: map-get($bg_color, red);
                border-image: map-get($border_color, red);

                .hover_item {
                    background: map-get($bg_color, darkred);
                }

                i {
                    @include btn_i(map-get($bg_color, i_red));
                }
            }

            // 手指效果
            @include btn_hoverHandler(2px, map-get($txt_color, primary));
        }
    }

    // 卡號按鈕.order__cardTitle
    &__cardTitle {
        @include scrollbar(auto, hidden);
        @include d_f(flex, center, flex-start);
        height: 35px;
        flex: none;
        padding: 5px 5px 0;
        background: map-get($bg_color, black);
        font-size: 0;
        order: -3;

        @include mw_md{
            background: map-get($bg_color, darkblue_vl);
        }

        >li {
            @extend %hand;
            @include btn_set(auto, 100%, map-get($btn_color, secondary));
            padding: 0 5px;
            border: 1px solid map-get($bg_color, secondary);
            border-bottom: none;

            +li {
                border-left: none;
            }

            &:first-child{
                border-top-left-radius: 5px;
            }

            &:last-child {
                border-top-right-radius: 5px;
            }

            &::before {
                @include btn_hoverlight03;
            }

            &::after {
                @include btn_txt(center, map-get($txt_color, primary), transparent);
                font-size: 14px;
            }

            .hover_item {
                @include btn_hoveritem(map-get($btn_color, primary));

                &::before {
                    @include btn_hoverlight03;
                }
            }

            i {
                @include btn_i(map-get($bg_color, i_blue));
            }

            // _on效果
            @include btn_on(map-get($txt_color, secondary)) {
                i {
                    @include btn_i(map-get($bg_color, i_gold));
                }
            }

            // 手指效果
            @include btn_hoverHandler(1px 1px 0, map-get($txt_color, secondary)) {
                i {
                    @include btn_i(map-get($bg_color, i_gold));
                }
            }
        }
    }

    // 卡號all.order__cardAll
    &__cardAll {
        @include pos_abs(35px, unset, unset, 0);
        @include scrollbar(hidden, auto);
        height: calc(100% - 35px);
        background: map-get($bg_color, black);

        table {
            width: 100%;
            font-size: 12px;
            text-align: center;
        }

        tr+tr {
            border-top: 1px solid map-get($bg_color, secondary);
        }

        td,
        th {
            padding: 10px 0;
        }

        td:first-child {
            font-size: 18px;
            font-weight: normal;
        }

        th {
            background: map-get($bg_color, darkblue_vl_re);
            color: map-get($txt_color, yellow);
            font-size: 14px;
        }

    }
}

// 珠路
.road{
    @include d_f(flex, unset, flex-start);
    flex-direction: column;

    // 會員資訊
    .memberInfo{
        @include d_f(flex, center, space-around);
        @include border(1px 0, map-get($border_color, secondary));
        padding: 3px 10px;
        background: map-get($bg_color, darkblue);
        font-size: 14px;

        @include mw_xs{
            flex-direction: column;
            align-items: flex-start;
        }
        
        li{
            &::before{
                content: attr(data-txt);
                color: map-get($txt-color, yellow);
                margin-right: 5px;
            }

            @include mw_xs {
                &:last-child {
                    display: none;
                }
            }
        }
    }

    // 結果統計
    .totalCount{
        @extend %hand;
        position: relative;
        // 莊閒和.totalCount__item
        &__item{
            @include d_f(flex, center, space-around);
            padding: 3px 10px;
            background: map-get($bg_color, darkblue_vl);

            @include mw_ms{
                justify-content: space-between;
                padding-right: 30px;
            }

            li{
                @include d_f(flex, center, center);
                position: relative;
                width: 25px;
                height: 25px;
                background: map-get($txt_color, play);
                border-radius: 50%;
                color: map-get($txt_color, white);
                font-size: 14px;

                &:nth-child(3n + 1){
                    background: map-get($txt_color, bank);
                }

                &:nth-child(3){
                    background: map-get($txt_color, tie);
                }

                &.--pair::before{
                    @include pos_abs(-1px, unset, unset, -1px);
                    content: '';
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: map-get($txt_color, bank);
                    border: 1px solid map-get($bg_color, white);
                }

                &::after{
                    @include pos_abs(unset, unset, unset, calc(100% + 5px));
                    content: attr(data-num);
                    font-size: 16px;
                }
            }
        }

        // 百分比.totalCount__percent
        &__percent {
            @include pos_abs(0, 0, 0, 0);
            @include d_f(flex, center, center);
            background: map-get($bg_color, darkblue_vl);
            margin: auto;

            // 無統計資料
            &.--none::before{
                content: attr(data-txt);
            }
            li{
                @include d_f(flex, center, center);
                height: 100%;
                text-shadow: 2px 1px map-get($txt_color, shadow);
            }
            &.--none li{
                display: none;
            }
        }
    }

    


    // 珠路包.road__group
    &__group{
        @include d_f(flex, unset, flex-start);
        flex: 1 1 100%;

        //珠路資訊.road__group__info
        &__info{
            width: 25px;
            height: 100%;
            background: map-get($bg_color, gray);

            .ballBox {
                @include d_f(flex, center, center);
                align-content: center;
                flex-wrap: wrap;
                height: 50%;

                @include mw_ms{
                    height: 33.33%;
                }

                i{
                    width: 10px;
                    height: 10px;
                    margin: 2px;

                    &:first-child{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        // 珠路圖.road__group__img
        &__img{
            flex: 1 1 100%;
            height: 100%;
        }
    }
}

// 詳細資訊
.detail{
    @include d_f(flex, unset, space-between);
    flex-wrap: wrap;
    pointer-events: none;

    // .detail__box
    &__box{
        @include d_f(flex, unset, flex-start);
        flex-direction: column;
        width: calc(100% / 2 - 1px);
        height: 100%;
        background: map-get($bg_color, black);
        pointer-events: auto;

        @include mw_lg {
            width: 100%;

            &:not(.--on) {
                display: none;
            }
        }
        @include mw_md{
            width: 50%;
            max-width: 250px;
            &:not(.--on) {
                display: flex;
            }
        }

        @include mw_ms{
            background: map-get($bg_color, black_alpha);
        }

        // title統一樣式.detail__box__title
        &__title {
            @include d_f(flex, center, center);
            @include border(1px 0, map-get($border_color, secondary));
            position: relative;
            height: 35px;
            flex: none;
            background: map-get($btn_color, secondary_vl);

            @include mw_xl{
                @at-root .detail div:type-of-child(1) .detail__box__title {
                    border-right-width: 1px;
                }
            }

            @include mw_lg{
                display: none;
            }

            @include mw_ms {
                display: flex;
            }

            span {
                position: relative;

                &::after {
                    @include btn_txt(center, map-get($txt_color, primary), transparent);
                }
            }
        }
    }

    // pad版title按鈕.detail__change
    &__change {
        @include border(1px 0, map-get($border_color, secondary));
        width: 100%;
        height: 35px;
        pointer-events: auto;
        display: none;

        @include mw_lg {
            @include d_f(flex, unset, flex-start);
        }

        @include mw_ms{
            display: none;
        }

        li {
            @include btn_set(50%, 100%, map-get($btn_color, secondary_vl));
            line-height: 35px;
            text-align: center;

            // 手指效果
            @include hoverHandler {
                background: map-get($btn_color, primary_vl);
                color: map-get($txt_color, secondary);
            }
        }

        li.--on {
            width: 80%;
            background: map-get($btn_color, primary_vl);
            color: map-get($txt_color, secondary);
        }
    }

    // 好路提示設定按鈕
    .goodroad_btn,
    .close_btn {
        @include btn_set(20px, 20px, url(../images/icon_setting.svg) no-repeat center / contain);
        @include pos_abs(0, unset, 0, 10px);
        margin: auto;

        @at-root .--on>.goodroad_btn {
            filter: invert(1);
        }

        // 手指效果
        @include hoverHandler{
            transform: scale(1.2);
        }
    }

    // 好路提示關閉按鈕
    .close_btn{
        background-image: url(../images/icon_x.svg);
        left: auto;
        right: 10px;
        display: none;

        @include mw_md{
            display: block;
        }
    }
}


// 好路追注.goodroadList
.goodroadList {
    @include scrollbar(hidden, auto);
    flex: 1 1 100%;
    padding: 10px 5px;

    // .goodroadList__item
    &__item {
        @include d_f(flex, center, center);
        @extend %hand;
        position: relative;
        height: 55px;
        padding: 2px;
        background: map-get($bg_color, middblue);
        border-radius: 5px;
        color: map-get($txt_color, primary);
        font-size: 14px;
        margin-bottom: 5px;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            display: flex;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            background: map-get($btn_color, secondary_vl);
        }

        .hover_item {
            @include btn_hoveritem(map-get($btn_color, lightblue_vl));
        }

        // .goodroadList__item__tb
        &__tb {
            @include d_f(flex, center, center);
            position: relative;
            flex: 0 0 45px;
            height: 90%;
            border-right: 1px solid map-get($bg_color, lightblue);
        }

        // .goodroadList__item__txt
        &__txt {
            @include d_f(flex, center, center);
            position: relative;
            flex: 1 1 100%;
            height: 100%;
        }

        // .goodroadList__item__go
        &__go {
            position: relative;
            flex: 0 0 50px;
            padding: 5px;

            i {
                @include btn_set(100%, 100%, map-get($btn_color, primary));
                display: block;
                padding: 0 7px;
                border: 1px solid map-get($bg_color, secondary);
                border-radius: 3px;

                &::before {
                    @include btn_hoverlight02;
                }

                &::after {
                    @include btn_txt(center, map-get($txt_color, secondary), transparent);
                }
            }
        }

        // 雙
        &:nth-child(even) {
            background: #37c6ff;

            &::before {
                background: map-get($btn_color, lightblue_vl);
            }

            .hover_item {
                @include btn_hoveritem(map-get($btn_color, secondary_vl));
            }
        }

        // 手指效果
        @include btn_hoverHandler(1px 0, map-get($txt_color, primary));
    }
}
// 最新投注.orderInfo
.orderInfo{
    @include scrollbar(hidden, auto);
    flex: 1 1 100%;

    >li+li {
        @include border(1px 0 0, map-get($border_color, secondary));
    }

    // .orderInfo__txt
    &__txt {
        padding: 10px 5px;
        color: map-get($txt_color, primary);

        >li+li {
            margin-top: 3px;
        }

        li:not(:first-child) {
            font-size: 14px;

        }

        li:last-child {
            @include d_f(flex, center, flex-end);
        }
    }

    // .orderInfo__btn
    &__btn {
        @include btn_set(40%, 100%, map-get($bg_color, secondary));
        border-radius: 3px;
        color: map-get($txt_color, secondary);
        font-size: 14px;

        // 手指效果
        @include hoverHandler {
            opacity: 0.5;
        }
    }
}

// 限紅.limitList


