

// 字體顏色與大小

// 背景色

// 按鈕組件


// 動畫
.active_item {
    opacity: 0;
    visibility: collapse;
}
.active{
    > .active_item,
    ~ .active_item {
        visibility: visible;
        opacity: 1;
    }
}














