
.back_btn{
    width: 30px;
    flex:none;
    height: 30px;
    background: url(../images/icon_back.svg) no-repeat center / contain;
    margin-right: 20px;
    
    // 手指效果
    @include hoverHandler{
        filter: brightness(150%);
    }
}

.channel {
    height: 30px;
    margin-right: 20px;    

    &__item {
        @include d_f(flex, center, flex-start);
        position: relative;
        height: 100%;

        @include mw_md {
            height: auto;
            flex-direction: column;

            &::before{
                
            }
        }

        >li {
            @extend %hand;
            @include btn_set(60px, 100%, map-get($btn_color, secondary));
            @include border(1px, map-get($border_color, primary));
            @include mw_md {
                height: 30px;
            }

            &::before {
                @include btn_hoverlight03;
            }

            &::after {
                @include btn_txt(center, map-get($txt_color, primary), transparent);
            }

            .hover_item {
                @include btn_hoveritem(map-get($btn_color, primary));

                &::before {
                    @include btn_hoverlight03;
                }
            }

            

            // _on效果
            @include btn_on(map-get($txt_color, secondary));

            // 手指效果
            @include btn_hoverHandler(0 0, map-get($txt_color, secondary));
        }
    }

    // ph當前頻道
    &__1st {}
}

.tip_btn{
    @include btn_set(auto, 30px, map-get($btn_color, orange));
    @include border(1px, map-get($border_color, orange));
    padding: 0 20px;
    margin-right: 10px;

    &::before {
        @include btn_hoverlight03;
    }

    &::after {
        @include btn_txt(center, map-get($txt_color, primary), map-get($txt_color, shadow));
    }

    .hover_item {
        @include btn_hoveritem(map-get($btn_color, lightorange));
        box-shadow: 0 0 1px map-get($bg_color, secondary) inset,
            0 0 3px map-get($bg_color, secondary) inset;

        &::before {
            @include btn_hoverlight03;
        }
    }

    i {
        @include btn_i(map-get($bg_color, i_gold));
    }

    // 手指效果
    @include btn_hoverHandler(1px, map-get($txt_color, primary));
}

