// Variables 
$white:#fff;
$black:#000;
// Color system
$color-gray: (c111: #111, c333: #333, c666: #666, c888: #888, c999: #999, cbbb: #bbb, cccc: #ccc, ce5:#e5e5e5, cd6: #d6d6d6, f9:#f9f9f9, f5:#f5f5f5, f2:#f2f2f2);
$font: (h1: 36px, h2: 32px, h3: 28px, h4: 24px, h5: 20px, h6: 16px, h7:14px, h8:12px);
$font-primary: #737b84;
$grays: map-merge($font, $color-gray);
//
$navbar-input-bg: #2a3f54;
$navbar-input-border: map-get($grays, cbbb);
$navbar-font: $white;
$menu-btn-color: #F15A24;
$menu-btn-font: $white;
$menu-btn-bg: $white;
//
$txt-input-bg: $white;
$txtout-input-bg: $white;
$txtout-font-color: $font-primary;
$txtout-arrow-color: lighten(map-get($grays, cccc), 7%);
$txtout-input-border: map-get($grays, cccc);
$txtout-disabled-border: lighten(map-get($grays, cd6), 5%);
$txtout-disabled-bg: lighten(map-get($grays, cd6), 5%);
$txtout-disabled-font: $font-primary;
$txtout-disabled-arrow: #737b84;
$txtout-error-color: #ed1c24;
$txtout-active-color: #399ed6;
//
$switch-close-ball: linear-gradient(90deg, #ccc 0.34%, #F2F2F2 99.85%);
$switch-open: linear-gradient(90deg, #00c6fb 0%, #005bea 100%);
$switch-open-ball: linear-gradient(270deg, #ccc 0.36%, #F2F2F2 99.87%);
$switch-close-bg: map-get($grays, c888);
//
$form-color-border: map-get($grays, cccc);
$form-title-txt: map-get($grays, c888);
$form-title-bg: map-get($grays, cccc);
$form-color-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$input-color-shadow: 0 0 0 0.375rem rgba(143, 155, 179, 0.16);
$input-focus-border: #399ed6;
$btn-hover-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
//
$footer-bg: #2a3f54;
$footer-confirm-font: $white;
$footer-confirm-bg: #3991d6;
$footer-cancel-font: #495d70;
$footer-cancel-bg: map-get($grays, cccc);
//
$pop-title-bg: linear-gradient(to right, #00c6fb 0%, #005bea 100%);
$pop-btn-font: $white;
$pop-btn-bg: #3991d6;
$pop-btn-hover: lighten($pop-btn-bg, 5%) radial-gradient(circle, transparent 1%, lighten($pop-btn-bg, 5%) 1%) center/15000%;
$pop-box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
//
$table-th-bg:#3991d6;
$table-th-font:#F2F2F2;
$table-td-bg:$white;
$table-td-font:#737B84;
$table-td-hover: map-get($grays, f5);
// Variables SIZE 
$base-line: 4px;
@function line($count: 1) {
    @return $base-line * $count;
}

@mixin circle($width, $height, $radius: 0) {
    width: $width;
    height: $height;
    @if $radius !=0 {
        border-radius: $radius;
    }
}

@mixin flexCenter($center) {
    display: flex;
    justify-content: $center;
    align-items: $center;
}

@mixin flexbox($flex, $jc, $ai, $dir, $wrap) {
    display: $flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $dir;
    flex-wrap: $wrap;
}

//Variables MEDIA 
$pc-big:1440px;
$pc-small:1024px;
$pad-big:1023px;
$pad-small:768px;
$mobile-big:768px;
$mobile:568px;
//螢幕視窗為直立: orientation:portrait
//螢幕視窗為橫向: orientation:landscape
// * ~ 768
@mixin mobile-small {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin mobile {
    @media only screen and (max-width: $mobile-big) {
        @content;
    }
}

//768~1023
@mixin small-pad() {
    @media all and (min-width: $pad-small) and (max-width: $pad-big) {
        @content;
    }
}

@mixin small-pad-touch() {
    @media all and (min-width: $pad-small) and (max-width: $pad-big) and (pointer: coarse) {
        @content;
    }
}

//touch screen 安卓平板比較舊的系統(for AMgroup)
@mixin oldpad-touch() {
    @media (pointer: coarse), (-moz-touch-enabled: 1) {
        @content;
    }
}

//1023 ~ *
@mixin middle-pc() {
    @media only screen and (max-width: $pc-small) {
        @content;
    }
}

@mixin big-pad() {
    @media only screen and (max-width: $pc-big) {
        @content;
    }
}

@mixin big-pad-touch() {
    @media only screen and (max-width: $pc-big) and (pointer: coarse) {
        @content;
    }
}

//for PC 多一個判別 安卓較舊的系統firefox容易出錯(for AMgroup)
@mixin mouse-pc-firefox() {
    @media (pointer: fine) and (-moz-touch-enabled: 0), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {}
}

//mouse event for PC
@mixin mouse-pc() {
    @media (pointer: fine), screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}

//touch event for Mobile
@mixin mobile-touch() {
    @media (pointer: coarse) {
        @content;
    }
}

//extend
* {
    font-family: Arial, Helvetica, SimSun, sans-serif;
    box-sizing: border-box;
}

body {
    background: map-get($grays, f2);
}

input:disabled,
textarea:disabled {
    opacity: unset;
}

select,
input[type='text'],
input[type='checkbox'],
input[type='password'],
input[type='tel'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type='password']::-webkit-textfield-decoration-container {
    visibility: hidden;
}

select::-ms-expand {
    display: none;
}

%posA {
    position: absolute;
}

%dropdownArrow {
    content: '';
    background: lighten($txtout-disabled-arrow, 15%);
    @extend %posA;
    top: 0;
}

%hand {
    cursor: pointer;
}

%ContentTitle {
    @include flexbox(inline-flex, flex-start, center, 0, 0);
    color: $form-title-txt;
    font-size: map-get($font, h5);
    line-height: map-get($font, h4);
    @include circle(100%, line(7));
    background: $form-title-bg;
    padding-left: 33px;
    @include mobile {
        height: line(10);
    }
}

//CSS START

/* acc_add, acc_edit */

.acc_edit,
.acc_add {
    display: block;
    min-height: 100%;
    @include circle(100%, calc(100% - 56px));
    margin: 0 auto;
    padding: line(4) 0 line(14) 0;
    >.acc_edit,
    >.acc_add {
        width: 1300px;
        max-width: 1300px;
        @include big-pad {
            max-width: 90%;
        }
        @include middle-pc {
            width: 100%;
            padding-top: 0;
        }
    }
    >.acc_edit>.as_custom_content,
    >.acc_add>.as_custom_content,
    >.acc_edit>.acc_content,
    >.acc_add>.acc_content {
        margin-bottom: 60px!important;
    }
    &.corprator01 {
        .left {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: 544px;
        }
    }
    &.pair {
        .pair_plus {
            margin: auto;
        }
        .acc_list.on:after {
            display: none;
        }
        .acc_content.edit {
            background: transparent;
            box-shadow: unset;
            .content {
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: wrap;
                padding: 10px 0;
                @include middle-pc {
                    padding-bottom: line(20);
                }
                @include mobile {
                    justify-content: center;
                }
            }
        }
        .acc_content,
        .acc_menu {
            max-width: 1300px;
            margin: 0 auto;
            @include big-pad {
                max-width: 90%;
            }
        }
    }
    &.msg {
        .acc_list:nth-child(1) {
            margin-left: line(4);
        }
        .acc_list:nth-child(2).on:after {
            border-color: transparent transparent $table-th-bg transparent;
        }
        .acc_content {
            max-width: 100%;
            box-shadow: none;
            &.edit {
                .content {
                    padding: 0;
                }
            }
        }
    }
    &.as_custom {
        .acc_menu,
        .acc_content {
            max-width: 100%;
        }
        .text_row {
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    .acc_menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include circle(100%, line(15));
        .acc_list {
            @include flexCenter(center);
            min-width: 100px;
            height: 35px;
            color: $menu-btn-color;
            border: 1px solid $menu-btn-color;
            background: $menu-btn-bg;
            border-radius: line();
            margin-right: line(4);
            margin-left: line();
            padding: 0 line(2);
            transition: background 0.2s, color 0.2s;
            @extend %hand;
            @include mobile {
                margin-left: line(4);
                margin-right: unset;
            }
            &.on,
            &:hover {
                color: $menu-btn-font;
                background: $menu-btn-color;
            }
            &.on {
                position: relative;
                &:after {
                    content: '';
                    @extend %posA;
                    bottom: -15px;
                    left: 50%;
                    margin-left: -5px;
                    border: 10px solid;
                    border-color: transparent transparent $form-title-bg transparent;
                }
            }
        }
    }
}

.acc_content {
    @include flexbox(flex, space-around, center, column, unset);
    max-width: line(110);
    min-height: auto;
    margin: 0 auto;
    background: $white;
    @include circle(100%, auto, line());
    box-shadow: $form-color-shadow;
    margin-bottom: line(19);
    @include mobile {
        max-width: 100%;
        justify-content: flex-start;
        border-radius: 0;
        margin-bottom: line(14);
    }
    .title {
        @extend %ContentTitle;
    }
    .content {
        @include flexbox(flex, center, center, column, unset);
        min-width: 100%;
        @include circle(100%, 100%);
        padding: 10px line(8);
        @include mobile {
            padding: line(2) line(8);
        }
    }
}

.as_custom_content {
    @include flexbox(flex, space-around, unset, unset, unset);
    width: 100%;
    @include middle-pc {
        justify-content: space-around;
        padding-bottom: line(4);
    }
    @include mobile {
        flex-direction: column;
    }
    >.cont_wrap {
        @include flexbox(inline-flex, space-between, unset, column, unset);
        width: calc((100% / 2) - 24px);
        padding-top: 30px;
        @include middle-pc {
            width: calc((100% / 2) - 16px);
        }
        @include mobile {
            padding-top: 0;
            width: 100%;
        }
        .content {
            width: 100%;
            margin-top: 0;
            @include mobile {
                margin-top: line(6);
            }
        }
        >.content:not(:nth-child(1)) {
            margin-top: line(6);
        }
    }
    .content {
        @include flexbox(inline-flex, center, flex-start, unset, wrap);
        flex: none;
        @include circle(calc((100% / 2) - 16px), auto, line());
        background: $white;
        border: 1px solid $form-color-border;
        box-shadow: $form-color-shadow;
        overflow: hidden;
        @include middle-pc {
            width: calc((100% / 2) - line(4));
            margin-left: 0;
        }
        @include mobile {
            margin-top: 30px;
            width: 100%;
        }
        .title {
            @extend %ContentTitle;
        }
    }
    >.content:not(:nth-child(2)) {
        margin-left: 0;
        @include mobile {
            margin-top: 0;
        }
    }
    // &.setting .text_square.column-3 {
    //     @include mobile {
    //         &:not(:nth-child(3n+1)) span {
    //             display: none;
    //         }
    //     }
    // }
    // &.detail .text_square.column-3 {
    //     @include mobile {
    //         &:not(:nth-child(3n+2)) span {
    //             display: none;
    //         }
    //     }
    // }
}

.pair_plus {
    @include flexCenter(center);
    align-self: flex-start;
    flex: 0 0 line(10);
    @include circle(line(10), line(10), 50%);
    background: $menu-btn-color;
    border: 2px solid $menu-btn-color;
    @extend %hand;
    &:after {
        content: '+';
        color: $white;
        font-size: line(12);
    }
    &:hover {
        background: $white;
        &:after {
            color: $menu-btn-color;
        }
    }
}

.pair_card {
    @include flexbox(flex, unset, unset, column, unset);
    width: calc((100% / 4) - 48px);
    background: $white;
    box-shadow: $form-color-shadow;
    border-radius: line();
    border-top: line() solid $table-th-bg;
    margin-right: line(5);
    @include big-pad {
        width: calc((100% / 3) - 24px);
        margin-bottom: 32px;
    }
    @include mobile {
        width: 90%;
        margin-right: 0;
    }
    .pair_title {
        @extend %ContentTitle;
        color: $white;
        background: $table-th-bg;
        .icon_tb_edit {
            @include circle(line(10), line(10));
            margin-left: auto;
            margin-right: line();
            background-position: center;
            @extend %hand;
            &:hover {
                opacity: .8;
            }
        }
    }
    .pair_cont {
        width: 100%;
        min-height: line(60);
        padding: 0 line(8);
        @include middle-pc {
            padding: 0 line(6);
        }
    }
}

.text_square {
    @include flexbox(flex, unset, unset, column, unset);
    padding: line();
    width: 85%;
    position: relative;
    @include mobile {
        width: 75%;
    }
    .text_status {
        display: none;
    }
    .icon_search {
        @extend %posA;
        right: line(2);
        top: 42px;
        @include circle(25px, 25px);
        @extend %hand;
    }
    &.point>span {
        &::after {
            content: ' *';
            color: #f15124;
        }
    }
    &.column-2 {
        width: calc(85% / 2);
        @include mobile {
            width: 75%;
        }
    }
    &.column-3 {
        width: calc(85% / 3);
        @include mobile {
            width: 75%;
        }
    }
    &.error {
        color: $txtout-error-color;
        input {
            border-color: $txtout-error-color;
        }
        .text_status {
            display: block;
        }
    }
    span {
        min-height: line(6);
        padding-bottom: line();
        &::before {
            content: attr(data-per);
            @extend %posA;
            right: 10px;
            top: 42px;
            font-size: 15px;
        }
    }
    >textarea,
    >select,
    >input {
        display: flex;
        font-size: map-get($font, h6);
        color: $txtout-font-color;
        @include circle(auto, 45px, line());
        min-width: 100%;
        padding: line(1.5) line(4);
        margin-bottom: line();
        border: 1px solid $txtout-input-border;
        background: $txt-input-bg;
        box-shadow: none; //Firefox
        outline: none;
        transition: border 0.2s;
        &:focus,
        &:focus {
            outline: 0;
            border: 2px solid;
            border-color: $input-focus-border;
            +span {
                color: $input-focus-border;
            }
        }
        &:disabled {
            -webkit-text-fill-color: $txtout-disabled-font;
            color: $txtout-disabled-font;
            background-color: $txtout-disabled-bg;
            border-color: $txtout-disabled-border;
            ~.arrow {
                display: none;
            }
            +span {
                color: $txtout-disabled-font;
                background: transparent;
            }
        }
    }
    >textarea {
        min-height: line(20);
    }
    &.dropdown i {
        margin-top: unset;
    }
}

.textout_circle {
    @include flexbox(flex, unset, unset, unset, wrap);
    flex: 1;
    min-width: calc((100% / 3) - 4px);
    max-width: 100%;
    position: relative;
    margin-top: 30px;
    margin-bottom: line(5);
    @include mobile {
        margin-top: line(5);
        margin-bottom: 10px;
    }
    .text_status {
        display: none;
    }
    &.point>span {
        &::after {
            content: ' *';
            color: #f15124;
        }
    }
    >select,
    >input {
        display: flex;
        font-size: map-get($font, h6);
        color: $txtout-font-color;
        @include circle(auto, 45px, 30px);
        min-width: 100%;
        padding: line(1.5) line(4);
        border: 1px solid $txtout-input-border;
        background: $txtout-input-bg;
        box-shadow: none; //Firefox
        outline: none;
        transition: border 0.2s;
        +span {
            @include flexbox(flex, flex-start, unset, unset, unset);
            color: $txtout-font-color;
            font-size: map-get($font, h7);
            line-height: map-get($font, h6);
            max-height: 100%;
            margin-left: line(7);
            padding: 0 line(2);
            border-color: $txtout-input-border;
            background: $txtout-input-bg;
            @extend %posA;
            top: -8px;
        }
        &:focus,
        &:focus {
            outline: 0;
            border: 2px solid;
            border-color: $input-focus-border;
            +span {
                color: $input-focus-border;
            }
        }
        &:disabled {
            -webkit-text-fill-color: $txtout-disabled-font;
            color: $txtout-disabled-font;
            background-color: $txtout-disabled-bg;
            border-color: $txtout-disabled-border;
            ~.arrow {
                display: none;
            }
            +span {
                color: $txtout-disabled-font;
                background: transparent;
            }
        }
    }
    &.error {
        .text_status {
            display: block;
            min-width: 100%;
            padding: 3px 10px;
            color: $txtout-error-color;
        }
        >select,
        >input {
            color: $txtout-error-color;
            border-color: $txtout-error-color;
            +span {
                color: $txtout-error-color;
                border-color: $txtout-error-color;
            }
            &:focus {
                color: $txtout-error-color;
                border-color: $txtout-error-color;
            }
        }
    }
    >.icon_pw {
        @include circle(line(5), 15px);
        margin-top: -9px;
        @extend %posA;
        right: line(4);
        top: 50%;
    }
}

.acc_id_slide {
    @include flexbox(flex, space-between, center, unset, wrap);
    position: relative;
    .btn_left,
    .btn_right {
        display: inline-flex;
        @include circle(25px, 25px, 50%);
        background: rgba($black, .5);
        @extend %posA;
        top: 50%;
        @extend %hand;
        &:before,
        &:after {
            @extend %dropdownArrow;
            top: 9px;
            left: 9px;
            background: map-get($grays, f2);
            @include circle( 10px, 2px);
        }
        &:after {
            @include circle( 2px, 10px);
        }
        &:hover {
            opacity: .8;
        }
    }
    .btn_left {
        left: -30px;
        transform: rotate(-45deg);
        @include mobile {
            left: -35px;
        }
    }
    .btn_right {
        right: -30px;
        transform: rotate(135deg);
        @include mobile {
            right: -35px;
        }
    }
    .acc_id_list {
        @include flexbox(flex, unset, center, unset, unset);
        @include circle( calc((100% / 2) - 4px), line(9), line());
        text-indent: line(4);
        background: lighten(map-get($grays, cd6), 5%);
        margin-top: line(4);
        span {
            color: $txtout-active-color;
            display: inline-flex;
            min-height: auto;
            padding-bottom: unset;
            padding-left: 16px;
        }
        .btn_close {
            @include circle(25px, 25px);
            @include flexCenter(center);
            margin-left: auto;
            background-position: center;
            padding-right: 10px;
            @extend %hand;
            position: relative;
            &:before {
                top: unset;
                @extend %dropdownArrow;
                @include circle( line(5), 2px);
                transform: rotate(45deg);
            }
            &:after {
                top: unset;
                @extend %dropdownArrow;
                @include circle( 2px, line(5));
                transform: rotate(45deg);
            }
            &:hover {
                opacity: .8;
            }
        }
    }
}

.text_row {
    @include flexbox(flex, space-evenly, center, unset, unset);
    width: 100%;
    &.line {
        border-width: 1px 0 0 0;
        border-style: solid;
        border-color: $txtout-input-border;
    }
    &.power {
        min-height: line(22);
        @include mobile {
            min-height: line(50);
            flex-direction: column;
        }
    }
    tt {
        min-width: 30px;
    }
    hr {
        @include circle(100%, 1px)
    }
}

.acc_id_page {
    @include flexCenter(center);
    @include circle(100%, 30px);
    margin-top: line(4);
    span {
        font-size: map-get($font, h8);
        @include flexCenter(center);
        @include circle(line(5), 18px, line());
        border: 1px solid map-get($grays, cccc);
        margin-left: line(2);
        padding: 0;
        @extend %hand;
        @include mobile {
            margin-left: line();
        }
        &.on,
        &:hover {
            color: $white;
            background: $txtout-active-color;
        }
    }
}

.text_column {
    @include flexbox(flex, space-evenly, unset, column, unset);
    min-height: auto;
    @include mobile {
        min-width: 100%;
    }
}


/* icon */

// Variables ICON
$icons: ('acc_g', 'icon_acc_main', 'acc', 'add', 'arr_w', ' arr', 'back', 'close', 'control', 'custom_main', ' custom', 'date', 'eye_off', 'eye_on', 'hamburger', ' home', 'logout', 'name', 'new', 'notice', 'ok', 'old', 'people_main', 'people', 'pwd_g', 'pwd_main', 'pwd', 'report_main', 'report', 'search', 'searchclose', 'sort_down', 'sort_nomal', 'sort_up', 'tb_del', 'tb_edit', 'to', 'water_main', 'water', 'x', 'tb_edit');
@each $name in $icons {
    .icon_#{$name} {
        display: inline-flex;
        background:url(../../images/control/icon_#{$name}.svg) no-repeat;
    }
}

.no_eye_icon,
.eye_icon,
.icon_eye_on,
.icon_eye_off {
    display: inline-flex;
    background: url(../../images/control/icon_eye_on.svg) center no-repeat;
    @include circle(line(5), line(5));
    @extend %posA;
    right: line(2);
    top: auto;
    height: 45px;
}

.no_eye_icon,
.icon_eye_off {
    display: inline-flex;
    background: url(../../images/control/icon_eye_off.svg) center no-repeat;
}


/* switch */

.switch {
    @include flexbox(inline-flex, unset, center, unset, unset);
    color: $font-primary;
    font-size: map-get($font, h8);
    height: line(5);
    &.on {
        >.slide input {
            background: $switch-open;
            +label {
                margin-left: -22px;
                &:after {
                    content: '';
                    @include circle(80%, 80%, 30px);
                    background: $switch-close-ball;
                    @extend %posA;
                    left: line(0.5);
                    top: line(0.5);
                }
            }
        }
    }
    @include mobile {
        transform: scale(1.2);
    }
    span {
        display: inline-flex;
        padding-right: line();
    }
}

.slide {
    display: inline-block;
    vertical-align: midden;
    position: relative;
    >input {
        display: inline-block;
        @include circle(45px, line(5), 30px);
        border: 0;
        background: $switch-close-bg;
        outline: none;
        @extend %hand;
        &:checked {
            background: $switch-open;
            +label {
                margin-left: -22px;
                &:after {
                    content: '';
                    @include circle(80%, 80%, 30px);
                    background: $switch-close-ball;
                    @extend %posA;
                    left: line(0.5);
                    top: line(0.5);
                }
            }
        }
    }
    >label {
        @include circle(line(4), line(4), 50%);
        background: $switch-open-ball;
        margin-left: -45px;
        transition: margin-left 0.2s;
        @extend %posA;
        top: 5px;
    }
}


/* dropdown */

.dropdown {
    >select {
        height: 45px;
        &:focus~i:before,
        &:focus~i:after {
            background: $txtout-active-color;
        }
    }
    &.on {
        .select {
            position: relative;
            .arrow {
                margin-top: -4px;
            }
        }
        .arrow {
            transform-origin: bottom;
            transform: rotate(45deg);
        }
        .select-items {
            display: flex;
        }
    }
    .arrow {
        transform-origin: center;
        transform: rotate(-135deg);
    }
    i {
        display: inline-flex;
        @include circle(15px, 15px);
        margin-top: -12px;
        @extend %posA;
        right: line(4);
        top: 50%;
        &:before {
            @extend %dropdownArrow;
            @include circle(10px, 2px)
        }
        &:after {
            @extend %dropdownArrow;
            @include circle(2px, 10px)
        }
    }
}


/* footer */

.acc_footer {
    @include flexbox(flex, space-around, center, unset, unset);
    align-self: flex-end;
    width: 100%;
    background: $footer-bg;
    padding: line(2);
    position: fixed;
    bottom: 0;
    left: 0;
}

.btn_confirm,
.btn_cancel {
    @include flexCenter(center);
    max-width: line(100);
    min-width: 48%;
    height: line(10);
    border-radius: line(1);
    transition: background 0.2s;
    @extend %hand;
    &:hover {
        box-shadow: $btn-hover-shadow;
    }
}

.btn_confirm {
    color: $footer-confirm-font;
    background: $footer-confirm-bg;
    &:hover {
        background: darken($footer-confirm-bg, 5%);
    }
}

.btn_cancel {
    color: $footer-cancel-font;
    background: $footer-cancel-bg;
    &:hover {
        background: darken($footer-cancel-bg, 5%);
    }
}


/*POP*/

.pop_top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    @include circle(100%, 100%);
    @include flexCenter(center);
    .maskbg {
        @extend %posA;
        display: block;
        @include circle(100%, 100%);
        background: rgba(0, 0, 0, 0.5);
    }
}

.pop_box {
    @extend %posA;
    width: 400px;
    overflow: hidden;
    @include flexbox(flex, center, center, column, unset);
    box-shadow: $pop-box-shadow;
    .pop_title {
        display: flex;
        color: $white;
        font-size: 18px;
        @include circle(100%, 45px);
        background: $pop-title-bg;
        p {
            display: inline-flex;
            width: calc(100% - 45px);
        }
        .icon_close {
            display: inline-flex;
            justify-self: flex-end;
            @include circle(45px, 45px);
            background-position: center;
            transition: opacity .3s;
            @extend %hand;
            &:hover {
                opacity: .8;
            }
        }
    }
    .pop_content {
        width: 100%;
        background-color: $white;
        @include flexbox(flex, center, center, column, unset);
        padding: 30px line(5);
        p {
            display: inline-flex;
            height: 45px;
            font-size: line(4);
        }
        .pop_btn {
            @include flexCenter(center);
            @include circle(150px, 45px, 5px);
            color: $pop-btn-font;
            font-size: 14px;
            background: $pop-btn-bg;
            background-position: center;
            @extend %hand;
            transition: background 0.8s;
            &:hover {
                background: $pop-btn-hover;
            }
            &:active {
                background-color: $pop-btn-bg;
                background-size: 100%;
            }
        }
    }
}