@charset "UTF-8";


.outside{
	display: flex;
	width: 100%;
	height: 100%;
}
.menu{
	display: flex;
	width: 296px;
	height: 100%;
	flex: none;
	padding: 32px;
	background-color: #EDF4EE;
	flex-direction: column;
	justify-content: space-between;
}
.content{
	width: calc(100% - 296px);
	height: 100%;
	padding-bottom: 32px;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.logo{
	width: 100%;
	height: 40px;
	background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/085a62fb22df4bf21c605a180648c6c6e35c2b32/week5/logo-ANSWER.svg) no-repeat left center;
	margin-bottom: 20px;
}
.menu_list li:not(:first-child),
.menu_list a{
	position: relative;
	height: 32px;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
}
.menu_list a{
	display: flex;
	align-items: center;

}
.menu_list i{
	margin-right: 16px;
}
.menu_list li.on,
.menu_list .on i{
	color: #2A8356;
}
.menu_list li:before{
	content: '';
	position: absolute;
	display: block;
	width: 4px;
	height: 100%;
	background-color: #2A8356;
	top: 0;
	right: calc(100% + 28px);
	transition:all .3s linear;
	opacity: 0;
}
.menu_list li.on:before{
	opacity: 1;
}
.myinfo{
	display: flex;
	height: 40px;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
}
.myinfo_img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 16px;
}
.myinfo_name{
	height: 50%;
	font-size: 16px;
	font-weight: bold;
}
.myinfo_mail{
	height: 50%;
	color: #0000009A;
}
.content_head{
	display: flex;	
	padding: 32px;
	align-items: center;
}
.content_head h1{
	font-size: 24px;
	font-weight: bold;
	margin-right: 46px;
}
.content_box{
	display: flex;
	padding: 0 32px 32px;
}
.content_list_box{
	width: 320px;
	flex: none;
	margin-right: 16px;
}
.content_list{
	margin-top: 4px;

}
.content_list_item{
	display: flex;
	padding: 12px;
	line-height: 24px;
	flex-wrap: wrap;
}
.content_list_item:first-child{
	border: 1px solid #CDDDCD;
	border-radius: 2px 2px 0px 0px;
}
.content_list_item:last-child{
	border-radius: 0px 0px 2px 2px;	
}
.content_list_item + .content_list_item{
	border: 1px solid #CDDDCD;
	border-top: none;
}
.content_list_item.on{
	background-color: #EDF4EE;
}
.content_list_item li:nth-child(odd){
	flex:1 1 calc(100% - 100px);
}
.content_list_item li:nth-child(even){
	flex:0 0 100px;
	text-align: right;
}
.content_list_item .txt{
	font-weight: bold;
	font-size: 16px;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}
.content_list_item .name{
	color: #0000009A;
}
.detail_item{
	border: 1px solid #CDDDCD;
	border-radius: 2px;
}
.list_detail{
	position: relative;
}
.detail_com{
	line-height: 19px;
	color: #707070;
	text-align: right;
	margin-bottom: 8px;
}
.detail_com:before{
	content: attr(data-times)'\00a0';
}
.detail_title{
	position: relative;
	display: flex;
	line-height: 24px;
	padding: 12px 16px;
	background-color: #EDF4EE;
	border-radius: 2px 2px 0px 0px;
	border-bottom: 1px solid #CDDDCD;
	flex-direction: column;
}
.detail_btn{
	position: absolute;
	width: 24px;
	height: 24px;
	top: 0;
	bottom: 0;
	right: 16px;
	margin: auto;
}
.detail_title .txt{
	font-size: 16px;
	font-weight: bold;
}
.detail_model{
	position: relative;
	display: flex;
	padding: 16px;
}
.detail_model + .detail_model:before{
	content: '';
	position: absolute;
	width: calc(100% - 80px);
	height: 1px;
	bottom: 100%;
	right: 16px;
	background-color: #CDDDCD;
}
.member_img{
	width: 40px;
	height: 40px;
	flex: none;
	border-radius: 50%;
	overflow: hidden;
}
.member_info{
	position: relative;
	padding: 0 32px 0 8px;
}
.member_info .name{
	line-height: 24px;
	font-weight: bold;
	font-size: 16px;
}
.member_info .time{
	line-height: 24px;
	color: #707070;
}
.member_info .function{
	position: absolute;
	top: 0;
	right: 0;
}
.edit_btn{
	margin-left: 24px;
}
.member_info .txt{
	line-height: 21px;
	padding: 16px 0;
	font-size: 14px;
}
.file_btn{
	display: flex;
	padding: 8px 12px;
	background-color: #EDF4EE;
	border: 1px solid #CDDDCD;
	border-radius: 2px;
	font-weight: bold;
	font-size: 16px;
	align-items: center;
}
.file_btn>i{
	margin-right: 8px;
}
.function_box{
	display: flex;	
	padding: 16px 0;
	justify-content: space-between;
}
.reply_box{
	position: absolute;
	display: flex;
	width: 0;
	height: 0;
	background-color: #fff;
	border: 1px solid #CDDDCD;
	border-radius: 2px;
	flex-direction: column;
	bottom: 0;
	right: 0;
	transform-origin: right bottom;
	transform: scale(0);
	transition: all .3s ease;
	visibility: collapse;
}
.reply_box.active{
	width: 100%;
	height: 250px;
	transform: scale(1);
	visibility: visible;
}
.reply_title{
	display: flex;
	padding: 16px 24px;
	flex:none;
	background-color: #EDF4EE;
	border-bottom: 1px solid #CDDDCD;
	align-items: center;
}
.reply_title>.select_box{
	line-height: 24px;
	font-size: 16px;
}
.reply_title>.select_box>i{
	color: #121212;
}
.reply_title>.select_box>select{
	font-weight: bold;
}
.reply_title>* + *{
	margin-left: 24px;
}
.reply_txt{
	padding: 16px 24px;
	flex: 1 1 100%;
}
.reply_txt>textarea{
	width: 100%;
	height: 100%;
}
.reply_foot{
	padding: 16px 32px;
	flex:none;
	text-align: right;
}
.page_btn{
	width: 24px;
	height: 24px;
}
.page_btn + .page_btn{
	margin-left: 24px;
}
.comm_btn{
	height: 35px;
	padding: 0 32px;
	border: 1px solid #2A8356;
	border-radius: 2px;
	color: #2A8356;
	font-size: 16px;
	font-weight: bold;
}
.comm_btn + .comm_btn{
	margin-left: 16px;
}
.comm_btn.on{
	background-color: #2A8356;
	color: #fff;
}

.comm_btn.err{
	border-color: #E3006E;
	color: #E3006E;
}
/*admin.html*/
.add_btn{
	display: flex;
	font-weight: bold;
	font-size: 16px;
	align-items: center;
}
.add_btn i{
	color: #2A8356;
	margin-right: 8px;
}
.table_box{
	padding: 16px 32px 63px;
}
.table_model{
	width: 100%;
	font-size: 16px;
}
.table_model tr{
	border-bottom: 1px solid #CDDDCD;
}
.table_model tr:first-child{
	border-color: #121212;
}
.table_model th{
	height: 24px;
	font-weight: bold;
}
.table_model td{
	height: 55px;
}
.sort_box{
	display: inline-flex;
	align-items: center;
}
.sort_box i{
	width: 18px;
	height: 18px;
	font-size: 18px;
	color: #2A8356;
	margin-left: 3px;
}
.intd_btn + .intd_btn{
	margin-left: 24px;
}

/*alert*/
.alert_mask{
	position: fixed;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 32px;
	background-color: #00000062;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
}
.alert_box{
	position: relative;
	display: flex;
	min-width: 480px;
	height: 100%;
	background-color: #fff;	
	border: 1px solid #CDDDCD;
	border-radius: 2px;
	flex-direction: column;
	overflow: hidden;
}
.alert_box._mini{
	height: auto;
}
.alert_title{
	display: flex;
	height: 93px;
	flex: none;
	padding: 32px;
	/*border-bottom: 1px solid #CDDDCD;*/
	font-size: 24px;
	font-weight: bold;
	align-items: center;
}
.alert_info{
	flex: 1 1 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
._mini .alert_info{
	display: flex;
	padding: 32px;
}

.alert_foot{
	flex: none;
	padding: 16px 32px;
	text-align: right;
}
._mini .alert_foot{
	padding: 0 32px;
	height: 0;
	transform-origin: center top;
	transform: scaleY(0);
	transition: all .3s ease;
	visibility: collapse;
}
._mini.active .alert_foot{
	height: auto;
	padding: 0 32px 32px;
	transform: scaleY(1);
	visibility: visible;
}
.alert_detail_img{
	width: 141px;
	height: 141px;
	background-position: center;
	background-size: cover;
	flex: none;
}
.close_btn{
	position: absolute;
	width: 24px;
	height: 24px;
	top: 32px;
	right: 32px;
}
.alert_detail{
	flex: 1 1 100%;
	line-height: 24px;
	padding-left: 24px;
	font-size: 16px;
}
.alert_detail>.no{margin-bottom: 8px;}
.alert_detail>.name{
	line-height: 36px;
	font-weight: bold;
	font-size: 24px;
}
.alert_detail>.mail{
	color: #0000009A;
	margin-bottom: 8px;
}
.alert_detail>.status{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.alert_detail>.status>tt{
	padding: 4px;
	background-color: #EDF4EE;
	border-radius: 2px;
	font-size: 14px;
}
.status_icon{
	color: #2A8356;
	transition: all .3s ease;
}
.active .status_icon{
	transform: rotate(180deg);
}
.alert_content{
	position: relative;
	padding: 0 32px 24px;
}
.alert_content + .alert_content{
	padding-top: 24px;
}
.alert_content + .alert_content:before{
	content: '';
	position: absolute;
	width: calc(100% - 64px);
	height: 1px;
	background-color: #CDDDCD;
	bottom: 100%;
}
.alert_content .title{
	line-height: 24px;
	font-weight: bold;
	font-size: 20px;
}
.alert_notice{
	display: flex;
	padding: 18px 0 18px 31px;
	background: url(../images/icon_check.svg) no-repeat left center;
	font-weight: bold;
	font-size: 16px;
	justify-content: space-between;
	text-transform: capitalize;
}
.alert_notice.err{
	background-image: url(../images/icon_warn.svg);
	color: #E3006E;
}
.alert_notice>tt{
	font-size: 14px;
	font-weight: normal;
}
.alert_notice.err>tt{
	display: none;
}
.alert_checkbox_all{
	padding-top: 16px;
}
.alert_checkbox_all li + li{
	margin-top: 16px;
}











/*share*/
.select_box{
	position: relative;
	display: inline-flex;
	font-size: 16px;
	font-weight: bold;
	align-items: center;
}
.select_box>select{
	width: 100%;
	height: 100%;
}
.select_box>i{
	color: #2A8356;
	margin-left: 7px;
	pointer-events: none;
}
.alert_content>.select_box{
	display: flex;
	height: 51px;
	border: 1px solid #121212;
	border-radius: 2px;
	margin-top: 16px;

}
.alert_content>.select_box>select{
	padding: 0 16px;
}
.alert_content>.select_box>i{
	position: absolute;
	color: #121212;
	right: 16px;
	margin: auto;
}
.search_box{
	display: flex;
	margin-left: auto;	
	align-items: center;
	flex-direction: row-reverse;
}
.search_box input{
	width: 0;
	height: 24px;
	padding:0 10px;
	border: 1px solid transparent;
	border-radius: 24px;
}
.search_box input:focus,
.search_btn:hover + input{
	width: 200px;
	border-color: #2A8356;
}
.search_btn{
	flex: none;
}
.checkbox_box{
	display: flex;
	align-items: center;
	font-size: 16px;
}
.checkbox_box>input{
	display: none;
}
.checkbox_box>input + span{
	position: relative;
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	border: 2px solid #121212;
	margin-right: 10px;
}
.checkbox_box>input + span:before{
	content: none;
	position: absolute;
    width: 12px;
    height: 8px;
    transform: rotate(-48deg);
    top: 2px;
    left: 2px;
    background: transparent;
    border-width: 0 0 3px 3px;
    border-style: solid;
    border-color: #2A8356;

}
.checkbox_box>input:checked + span:before{
	content: '';
}
.notice_btn{
	margin-left: 25px;
}
.page_box{
	display: flex;
	padding: 0 32px;
	justify-content: flex-end;
}
.page_box li{
	display: flex;
	width: 32px;
	height: 32px;
	font-size: 16px;
	border: 1px solid #2A8356;	
	border-right: none;
	align-items: center;
	justify-content: center;
}
.page_box li:first-child,
.page_box li:last-child{
	border-radius: 2px 0px 0px 2px;
	color: #2A8356;
	font-size: 24px;
}
.page_box li:last-child{
	border-radius: 0px 2px 2px 0px;
	border-right: 1px solid #2A8356;
}
.page_box li + li{
	border-left: 1px solid #2A8356;
}
.page_box li.on{
	background-color: #2A8356;
	color: #fff;
}
.import{
	display: block;
	padding-top: 16px;
}
.import>span{
	font-size: 14px;
	margin-bottom: 4px;
}
.import>input{
	width: 100%;
	height: 51px;
	padding: 16px;
	border: 1px solid #121212;
	border-radius: 2px;
	font-size: 16px;
}
.import>input:read-only{
	border-color:transparent;
	background-color: #EDF4EE;
	cursor: default;
}
.submit_btn{
	width: 100%;
	height: 51px;
	border: 1px solid #CDDDCD;
	border-radius: 2px;
	color: #2A8356;
	font-size: 16px;
	font-weight: bold;
}
.submit_btn:disabled{
	color: #CDDDCD;
}
.submit_btn.err{
	border-color: #E3006E;
	color: #E3006E;
}
.txtl{text-align: left;}
.txtr{text-align: right;}
.txtc{text-align: center;}


/*hand*/
[class*="_btn"]:not(:disabled),
.menu_list li,
.search_box input,
.content_list_item,
.table_model tr,
.page_box li,
.import>input{	
	transition: all .3s linear;
}

[class*="_btn"]:not(:disabled),
.menu_list li,
.content_list_item,
.page_box li,
.checkbox_box,
.alert_detail>.status,
.table_model tr{
	cursor: pointer;
}


/*pc hover*/
@media (pointer: fine),
(pointer: fine) and (-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
	[class*="_btn"].material-icons:hover,
	.menu_list li:hover,
	.menu_list li:hover i,
	.file_btn:hover,
	.add_btn:hover{
		color: #2A8356;
	}
	.menu_list li:hover:before{
		opacity: 1;
	}
	.content_list_item:hover,
	.table_model tr:not(:first-child):hover{
		background-color: #EDF4EE;
	}
	.comm_btn:hover,
	.page_box li:hover,
	.submit_btn:not(:disabled):hover{
		background-color: #2A8356;
		color: #fff;
	}
	.import>input:not(:read-only):hover{
		border-color: #2A8356;
	}
	.submit_btn.err:hover,
	.comm_btn.err:hover{
		background-color:#E3006E;
		border-color: #E3006E;
		color: #fff; 
	}
}
	[class*="_btn"].material-icons:active,
	.menu_list li:active,
	.menu_list li:active i,
	.file_btn:active,
	.add_btn:active{
		color: #2A8356;
	}
	.menu_list li:active:before{
		opacity: 1;
	}
	.content_list_item:active,
	.table_model tr:not(:first-child):active{
		background-color: #EDF4EE;
	}
	.comm_btn:active,
	.page_box li:active,
	.submit_btn:not(:disabled):active{
		background-color: #2A8356;
		color: #fff;
	}
	.import>input:not(:read-only):active{
		border-color: #2A8356;
	}
	.submit_btn.err:active,
	.comm_btn.err:active{
		background-color:#E3006E;
		border-color: #E3006E;
		color: #fff; 
	}

	.import>input:not(:read-only):focus{
		border-color: #2A8356;
	}