// 字體顏色
$txt_color: (
    primary: #fff,
    secondary: #240913,
    yellow: #fefdb3,
    gray: #b3b3b3,
    shadow: hsla(354, 29%, 7%, 0.5),
    warn: #ff5f67,
    win: #37c6ff,
    bank: #ff302a,
    play: #0068ed,
    tie: #009245,
);

// 背景色
$bg_color: (
    primary: linear-gradient(to right, #001940 0%, #004889 100%),
    primary_vl: linear-gradient(to bottom, #004889 0%, #001940 100%),
    secondary: #fbe2b0,
    secondary_vl: linear-gradient(to top, #f2bd79 60%, #563d29 100%),
    darkblue: linear-gradient(-137deg, #001940 0%, #000) 100%,
    darkblue_vl: linear-gradient(to top, #001940 0%, #000) 100%,
    darkblue_vl_re: linear-gradient(to bottom, #001940 0%, #000) 100%,
    bank_gradual: linear-gradient(to right, #9b0109 0%, #000) 100%,
    play_gradual: linear-gradient(to right, #004889 0%, #000) 100%,
    tie_gradual: linear-gradient(to right, #113924 0%, #000) 100%,
    gold: linear-gradient(#f2bd79, #fefdb3 50%, #f2bd79 90%),
    white: #fff,
    gray: #b3b3b3,
    black: #000,
    black_alpha: rgba(0, 0, 0, 0.7),
    secondary_alpha: #fdfcb380,
    blue: hsl(218, 74%, 23%),
    middblue: #001940,
    lightblue: #37c6ff,
    lightyellow: #ffd300,
    green: #115f24,
    lightgreen: #00d345,
    darkgreen: #0f361e,
    red: #c11615,
    darkred: #650008,
    i_blue: #37c6ffb3,
    i_green: #caff71b3,
    i_red: #ffe1f9b3,
    i_gold: #fbe2b0b3,
    order_area: #224d4d,
    bank: #ff302a,
    play: #0068ed,
    tie: #009245,
);

// 按鈕色
$btn_color: (
    primary: linear-gradient(to right, #f2bd79 60%, #563d29 100%),
    primary_vl: linear-gradient(to bottom, #f2bd79 50%, #563d29 100%),
    secondary: linear-gradient(to right, #001940 0%, #004889 100%),
    secondary_vl: linear-gradient(to top, #001940 0%, #004889 100%),
    lightblue: linear-gradient(to right, #004889 30%, #00a6ed 100%),
    lightblue_vl: linear-gradient(to top, #004889 30%, #00a6ed 100%),
    green: linear-gradient(to top, #009245 0%, #113924 100%),
    lightgreen: linear-gradient(to top, #00c945 0%, #117024 100%),
    orange: linear-gradient(to top, #f36428 0%, #440010 100%),
    lightorange: linear-gradient(to top, #ff901d 0%, #991b10 100%),
);

// 裝飾線色
$border_color: (
    primary: linear-gradient(to right, #f2bd79 0%, #ffffc5 50%, #f2bd79 100%) 1,
    secondary: linear-gradient(to right, transparent 5%, #37c6ff 20%, #63faff 60%, #37c6ff 80%, transparent 100%) 1,
    blue: linear-gradient(to right, #63faff 0%, #37c6ff 100%) 1,
    green: linear-gradient(to right, #00d345 0%, #14b045 100%) 1,
    red: linear-gradient(to right, #ff5f67 0%, #ff302a 100%) 1,
    darkblue: linear-gradient(to right, #001940 0%, #004889 100%) 1,
    gold: linear-gradient(to right, transparent 5%, #f2d77a 20%, #ffffc5 60%, #f2d77a 80%, transparent 100%) 1,
);

// 字顏色class
@each $name, $value in $txt_color {
    .txt_#{$name} {
        color: $value !important;
    }
}
@each $name, $value in $bg_color {
    .bg_#{$name} {
        background: $value !important;
    }
}

// 動畫
.active_item {
    opacity: 0;
    visibility: collapse;
}

.active {
    > .active_item,
    ~ .active_item {
        visibility: visible;
        opacity: 1;
    }
}
